<flynt-component
  load:on="idle" name="HeroScrollySplit"
  class="h-[150vh] w-full"
  {{ options.theme ? 'data-theme="' ~ options.theme ~ '"' }}
  {{ options.navStyle ? 'data-navStyle="' ~ options.navStyle ~ '"' }}
>
  <script type="application/json">{{ jsonData|json_encode }}</script>
  <section
    data-refs="section"
    class="
      HeroScrollySplit
      sm:block relative
      grid grid-cols-3 grid-cols-3-100vw
      h-screen w-full
      overflow-hidden
    "
    style="background-color: {% if options.colorBackground %}{{ options.colorBackground }}{% else %}var(--secondary){% endif %};"
  >
    {% set images = [slides[1], slides[0], slides[1]] %}
    {% for slide in images %}
      <div class="
        img-{{loop.index}}
        w-full h-screen
        flex flex-col
        sm:grid sm:grid-cols-2
        sm:overflow-hidden
        ml-[-100vw] sm:ml-0
        {% if loop.index == 1 %} sm:mt-[-100vh] {% endif %}
      ">
        <div data-refs="left" class="sm:absolute w-[100vw] sm:w-full h-1/2 sm:h-full sm:[clip-path:inset(0_49.9%_0_0)] left">
          <picture class="h-full {% if loop.index != 2 %} hidden sm:block {% endif %} relative">
            <source 
              data-srcset="{{function('wp_get_attachment_image_srcset', slide.image.id)}}"
              media="(min-width: 768px)"
              sizes="100vw"
            />
            <img class="lazyload object-cover h-full w-full"
              src="{{ slide.image.src | resize(32) }}"
              data-srcset="{{function('wp_get_attachment_image_srcset', slide.image.id)}}"
              sizes="100vw"
              data-object-fit="cover"
              alt="{{ slide.image.alt|e }}"
            />
            <div id="overlay" class="
              absolute top-0 left-0 sm:block 
              h-full w-full
              bg-black/40
              z-10 
            "></div>
          </picture>
          
          <div data-refs="text_{{loop.index}}" class="
            max-w-screen-lg mx-auto w-full
            h-full sm:h-screen
            absolute z-20
            {% if loop.index == 2 %} hidden {% endif %}
            flex sm:flex
            top-0 left-0 right-0
            items-end sm:items-center
            sm:opacity-0
            sm:bg-transparent
          "
          style="color:{% if options.colorText %}{{ options.colorText }}{% else %}var(--white){% endif %};">
            <h1 
              class="
                hidden {% if slide.textSizeMobile is defined and slide.textSizeMobile == 'small' %}text-[1.875rem]{% elseif slide.textSizeMobile is defined and slide.textSizeMobile == 'big' %}text-[2.5rem]{% else %} text-[2.5rem]{% endif %}
                sm:text-[3.438rem] 
                mb-sm sm:w-1/2 p-4 sm:pr-24 text-8xl sm:text-right font-light w-full 
                {% if loop.index == 2 %} hidden sm:block {% endif %} leading-[95%]">
              <span class="block">{{ slide.text_1 }}</span>
              <span class="block sm:hidden">{{ slide.text_2 }}</span>
            </h1>
          </div>
        </div>
        <div data-refs="right" class="sm:absolute w-full h-1/2 sm:h-full sm:[clip-path:inset(0_0_0_50%)] translate-y-0">
          <picture class="h-full {% if loop.index == 2 %} hidden sm:block {% endif %} relative">
            <source 
              data-srcset="{{function('wp_get_attachment_image_srcset', slide.image.id)}}"
              media="(min-width: 768px)"
              data-sizes="100vw"
            />
            <img class="lazyload object-cover h-full w-full"
              src="{{ slide.image.src | resize(32) }}"
              data-srcset="{{function('wp_get_attachment_image_srcset', slide.image.id)}}"
              sizes="100vw"
              data-object-fit="cover"
              alt="{{ slide.image.alt|e }}"
            />
            <div id="overlay" class="
              absolute top-0 left-0 md:hidden 
              h-full w-full
              bg-black/40
              z-10 
            "></div>
          </picture>
          <div id="overlay" class="
            absolute top-0 left-0 hidden sm:block 
            h-full w-full
            bg-black/40
            z-10
          "></div>
          <div data-refs="text_{{loop.index}}" class="
            max-w-screen-lg mx-auto w-full h-screen
            absolute z-20
            flex
            top-0 left-0 right-0
            sm:items-center sm:justify-end
            sm:opacity-0 {% if loop.index != 2 %} opacity-0 {% endif %}
            sm:bg-transparent
          "
          style="color:{% if options.colorText %}{{ options.colorText }}{% else %}var(--white){% endif %};">
            <h1 
              class=" 
              {% if slide.textSizeMobile is defined and slide.textSizeMobile == 'small' %}text-[1.875rem]{% elseif slide.textSizeMobile is defined and slide.textSizeMobile == 'big' %}text-[2.5rem]{% endif %}
              sm:text-[3.438rem] 
              mb-sm sm:w-1/2 p-4 sm:pl-24 text-8xl font-light h-1/2 sm:h-auto {% if loop.index != 2 %} hidden sm:block {% endif %} leading-[95%]">
              <span class="block sm:hidden">{{ slide.text_1 }}</span>
              <span class="block">{{ slide.text_2 }}</span>
            </h1>
          </div>
        </div>
      </div>
    {% endfor %}
    <div
      data-refs="dots"
      id="scrolly-intro-dots"
      class="
        absolute flex flex-col
        items-center
        bottom-0 top-auto sm:bottom-auto sm:top-1/2 left-1/2
        -translate-x-1/2 translate-y-1/4 sm:-translate-y-1/2 -rotate-90 sm:rotate-0
      "
    >
      <div class="spacer h-[40px] w-4"></div>
      {% set k = 10 %}
      {% for i in range(1, k) %}
        {% if i <= 4 %}
          {% set s = i * i %}
        {% else %}
          {% set s = (8 - i) * i %}
        {% endif %}
        <div
          id="dot-{{i}}"
          class="scrollyDot rounded-full m-2 aspect-square"
          style="width:{{s}}px; background:{% if options.colorText %}{{ options.colorText }}{% else %}var(--white){% endif %};"
        ></div>
      {% endfor %}
    </div>
  </section>
</flynt-component>
