<flynt-component
  load:on="idle" name="HeroScrollySplit"
  class="h-[150vh] w-full"
  {{ options.theme ? 'data-theme="' ~ options.theme ~ '"' }}
  data-navStyle="dark"
>
  <script type="application/json">{{ jsonData|json_encode }}</script>
  <section
    data-refs="section"
    class="
      HeroScrollySplit
      md:block relative
      grid grid-cols-3 scrollygridcontainer
      h-screen w-full
      overflow-hidden
      bg-cbegreen
    "
  >
    {% set images = [slides[1], slides[0], slides[1]] %}
    {% for slide in images %}
      <div class="
        img-{{loop.index}}
        w-full h-screen
        flex flex-col
        md:grid md:grid-cols-2
        md:overflow-hidden
        ml-[-100vw] md:ml-0
        {% if loop.index == 1 %} md:mt-[-100vh] {% endif %}
      ">
        <div data-refs="left" class="md:absolute w-[100vw] md:w-full h-1/2 md:h-full md:[clip-path:inset(0_50%_0_0)] left">
          <picture class="h-full {% if loop.index != 2 %} hidden md:block {% endif %}">
            <source srcset="
              {{function('wp_get_attachment_image_srcset', slide.image.id)}}"
              media="(min-width: 768px)"
              sizes="100vw"
            />
            <img class="object-cover h-full w-full"
              srcset="
                {{function('wp_get_attachment_image_srcset', slide.image.id)}}"
              src="{{ slide.image.src | resize(32) }}"
              sizes="100vw"
              data-object-fit="cover"
              alt="{{ slide.image.alt|e }}"
            />
          </picture>
          <div id="overlay" class="
            absolute top-0 left-0 hidden md:block 
            h-full w-full
            bg-black/40
            z-10
          "></div>
          <div data-refs="text_{{loop.index}}" class="
            max-w-screen-lg mx-auto w-full
            h-full md:h-screen
            absolute z-20
            {% if loop.index == 2 %} hidden {% endif %}
            flex md:flex
            top-0 left-0 right-0
            items-end md:items-center
            md:opacity-0
            text-white bg-cbegreen md:bg-transparent
          ">
            <h1 class="md:text-[3.438rem] md:w-1/2 p-4 md:pr-24 text-8xl md:text-right font-light w-full {% if loop.index == 2 %} hidden md:block {% endif %}">
              <span class="block">{{ slide.text_1 }}</span>
              <span class="block md:hidden">{{ slide.text_2 }}</span>
            </h1>
          </div>
        </div>
        <div data-refs="right" class="md:absolute w-full h-1/2 md:h-full md:[clip-path:inset(0_0_0_50%)] translate-y-0">
          <picture class="h-full {% if loop.index == 2 %} hidden md:block {% endif %}">
            <source srcset="
              {{function('wp_get_attachment_image_srcset', slide.image.id)}}"
              media="(min-width: 768px)"
              sizes="100vw"
            />
            <img class="object-cover h-full w-full"
              srcset="
                {{function('wp_get_attachment_image_srcset', slide.image.id)}}"
              src="{{ slide.image.src | resize(32) }}"
              sizes="100vw"
              data-object-fit="cover"
              alt="{{ slide.image.alt|e }}"
            />
          </picture>
          <div id="overlay" class="
            absolute top-0 left-0 hidden md:block 
            h-full w-full
            bg-black/40
            z-10
          "></div>
          <div data-refs="text_{{loop.index}}" class="
            max-w-screen-lg mx-auto w-full h-screen
            absolute z-20
            flex
            top-0 left-0 right-0
            md:items-center md:justify-end
            md:opacity-0 {% if loop.index != 2 %} opacity-0 {% endif %}
            text-white bg-cbegreen md:bg-transparent
          ">
            <h1 class="md:text-[3.438rem] md:w-1/2 p-4 md:pl-24 text-8xl font-light h-1/2 md:h-auto {% if loop.index != 2 %} hidden md:block {% endif %}">
              <span class="block md:hidden">{{ slide.text_1 }}</span>
              <span class="block">{{ slide.text_2 }}</span>
            </h1>
          </div>
        </div>
      </div>
    {% endfor %}
    <div
      data-refs="dots"
      id="scrolly-intro-dots"
      class="
        absolute flex flex-col
        items-center
        bottom-0 top-auto md:bottom-auto md:top-1/2 left-1/2
        -translate-x-1/2 translate-y-1/4 md:-translate-y-1/2 -rotate-90 md:rotate-0
      "
    >
      <div class="spacer h-[40px] w-4"></div>
      {% set k = 10 %}
      {% for i in range(1, k) %}
        {% if i <= 4 %}
          {% set s = i * i %}
        {% else %}
          {% set s = (8 - i) * i %}
        {% endif %}
        <div
          id="dot-{{i}}"
          class="scrollyDot rounded-full bg-white m-2 aspect-square"
          style="width:{{s}}px;"
        ></div>
      {% endfor %}
    </div>
  </section>
</flynt-component>
