<div class="flyntComponent componentSpacing {{ options.theme }}" style="--themeBrand_colorBackground: {{ options.colorBrandBackground }}; --themeBrand_colorText: {{ options.colorBrandText }};" is="flynt-block-wysiwyg">
  <div class="container {% if options.fadeIn %} fade-in {% endif %} {% if options.moveIn %} move-in {% endif %}" style="max-width: var(--maxWidthContainer_wide);">
    {% if preContent %}
      <h2 class="preContent">
        {{ preContent|e }}
      </h2>
    {% endif %}
    <div class="content content--{{ textAlignment }}">
      {{ contentHtml|wp_kses_custom }}
    </div>
  </div>
</div>
