{% if posts|length > 0 %}
  <flynt-component load:on="visible" name="ListingProjects" data-type="listing" class="">
    <div class="max-w-screen-max w-full mx-auto p-sm lg:p-lg">
      {% if blockTitle %}
        <div class="max-w-screen-max w-full mx-auto pb-sm lg:pb-lg flex flex-row justify-between align-bottom items-end content-end">
          <div class="subtitle font-bold">{{ blockTitle }}</div>
          <a href="{{ labels.allPostsLink.url }}" class="underline hover:no-underline caption font-bold">{{ labels.allPosts }}</a>
        </div>
      {% endif %}
      <ul class="
          w-full
          mx-auto
          grid sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4
          gap-sm lg:gap-md
        ">
        {% for post in posts %}
          <li class="post w-full">
            <div class="link" href="{{ post.link }}" aria-label="{{ post.title }}">
              {% if post.thumbnail %}
                <a class="no-underline" href="{{ post.link }}" aria-label="{{ post.title }}">
                  <figure class="figure block overflow-hidden">
                    <img class="image lazyload aspect-square object-cover transition duration-200 ease-linear"
                      src="{{  post.thumbnail.src | resize(32) }}"
                      data-srcset="{{function('wp_get_attachment_image_srcset', post.thumbnail.id)}}"
                      data-sizes="auto"
                      data-src="{{ post.thumbnail.src }}"
                      alt="{{ post.thumbnail.alt|e }}">
                  </figure>
                </a>
              {% endif %}
              <div class="content py-sm flex flex-col gap-sm justify-between items-stretch">
                <div class="flex flex-col gap-sm">
                  <div class="w-full p-sm flex flex-row justify-between align-middle items-center border caption">
                    <div class="w-1/2">
                      <div class="caption font-mono font-bold">{{ post.boxGenerationSize }} kWp</div>
                      <div class="caption">{{ post.boxMountingType.label }}</div>
                    </div>
                    <div class="w-1/2">
                    </div>
                  </div>
                  <div class="w-full flex flex-col justify-between align-start items-start">
                    {% for term in post.terms('country')  %}
                      <div class="paragraph">{{ term }}</div>
                    {% endfor %}
                    <h2 class="subtitle w-full grow">{{ post.title }}</h2>
                  </div>
                </div>
                <div class="flex flex-row lg:flex-col gap-sm justify-end items-start h-full">
                  <a class="button button--outlineBlack" href="{{ post.link }}" aria-label="{{ post.title }}">{{ labels.readMore }}</a>
                </div>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </flynt-component>
{% endif %}
