{% import "Components/_Atoms/Titles/title/macro.twig" as h %}

<flynt-component
  load:on="visible"
  name="BlockStatistics"
  style="
    background-color: {% if options.colorBackground %}{{ options.colorBackground }}{% else %}var(--bgColor){% endif %};
    color: {% if options.colorText %}{{ options.colorText }}{% else %}var(--textColor){% endif %};
  "
  >
  <div class="container mx-auto grid items-center grid-cols-6 md:grid-cols-12 gap-xs">
  {% if blockTitle %}
    <div class="col-span-6 xs:col-span-4 md:col-span-6 lg:col-span-5">
      {{ h.h(blockTitle, { level: 3, class: '' }) }}
    </div>
  {% endif %}
  {% if statistics %}
    <div class="col-span-full pt-[22px] pe-[30px]">
      {% for stat in statistics %}
        <div {{ not loop.last ? 'class="mb-[66px]"' }}>
          <div class="h-[225px] w-full mb-[-10px]">
            <img class="image lazyload w-full h-full object-contain object-right"
                src="{{ stat.image.src | resize(32) }}"
                width="{{ 768 }}"
                height="{{ (768 / stat.image.aspect)|round }}"
                data-srcset="{{function('wp_get_attachment_image_srcset', stat.image.id)}}"
                data-sizes="auto"
                alt="{{ stat.image.alt|e }}">
          </div>
          <div class="stat-number">
            <div class="stat-amount">{{ stat.number.prefix }}{{ stat.number.amount|number_format(0, '.', ',') }}</div>
            {% if stat.number.unit %}
              <div class="stat-unit font-titleSub mt-xs">{{ stat.number.unit }}</div>
            {% endif %}
          </div>
          <div class="stat-description ps-[50px] {{ stat.number.unit ? 'mt-[19px]' : 'mt-[23px]'}}">{{ stat.description }}</div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
  </div>
</flynt-component>