{% if posts|length > 0 %}
  <flynt-component load:on="visible" 
    name="ListingFlex" 
    data-type="listing" 
    class="bg-bgColor text-textColor {% if options.colorText|hex_to_rgb|reduce((carry, v) => carry + v) >= 50 %}dark{% endif %}"
    style="
      {% if options.colorBackground %} --bgColor: {{ options.colorBackground }}; {% endif %}
      {% if options.colorText %} --textColor: {{ options.colorText }};{% endif %}
      {% if options.colorText|hex_to_rgb|reduce((carry, v) => carry + v) >= 50 %} --hoverColor: var(--white);{% endif %}
    ">
    <div class="max-w-screen-max w-full mx-auto p-sm sm:p-md lg:p-lg">
      {% if (blockTitle or viewAllLink or filters) %}
        <div class="w-full mx-auto pb-md md:pb-lg flex flex-col justify-between align-bottom items-end gap-md">
          {% if blockTitle or viewAllLink %}
            <div class="w-full mx-auto flex flex-row justify-between items-baseline content-center">
              <div class="subtitle block-title font-bold">{{ blockTitle }}</div>
              <a href="{{ viewAllLink.url }}" class="underline caption font-bold">{{ viewAllLink.title }}</a>
            </div>
          {% endif %}
          {% if filters %}
            <div class="filters w-full flex flex-col md:flex-row gap-sm" x-data="{filters: [] }">
              {% for index, flexFilter in filters %}
                {% include 'Components/_Atoms/Other/filters.twig' 
                  with {
                    filterName: flexFilter.name,
                    filterLabel: flexFilter.label,
                    filterTerms: flexFilter.terms
                  }
                %}
              {% endfor %}
            </div>
          {% endif %}
        </div>
      {% endif %}
      <div class="hidden xs:grid-cols-2 md:grid-cols-3 xl:grid-cols-4"></div>
      <ul data-refs="listing"
        class="w-full mx-auto grid xs:grid-cols-{{ maxCols - 2 }} sm:grid-cols-{{ maxCols - 1 }} xl:grid-cols-{{ maxCols }} gap-xs sm:gap-md
          {% if highlightFirst %} firstItemLarger {% endif %}"
        data-post-types="{{post_types|json_encode|e}}"
        data-orderby='{{ orderby }}'
        data-order='{{ order }}'
        data-max-posts='{{ maxPosts }}'
        data-labels='{{ labels|json_encode()|e }}'
        data-query='{{ tax_query|json_encode()|e }}'>
        {% include 'Partials/_items.twig' with {posts: posts, 'labels': labels } %}
      </ul>
      {% if (show_load_more and found_posts > posts|length ) %}
        <div class="w-full flex justify-center align-center">
          <a class="btn btn-primary hover:cursor-pointer text-buttonSmall font-bold my-8" data-refs="loadMore">
            View More
          </a>
        </div>
      {% endif %}
    </div>
  </flynt-component>
{% endif %}
