{% if posts|length > 0 %}
  <flynt-component load:on="visible" name="ListingFlex" data-type="listing" class="" data-navStyle="light-blur">
    <div class="max-w-screen-max w-full mx-auto p-sm lg:p-lg">
      {% if (blockTitle or viewAllLink or filters) %}
        <div class="w-full mx-auto pb-sm md:pb-lg flex flex-row justify-between align-bottom items-end content-end">
          {% if blockTitle %}
            <div class="subtitle block-title font-bold">{{ blockTitle }}</div>
          {% endif %}
          <div class="filters inline-flex gap-sm" x-data="{filters: [] }">
            {% for index, flexFilter in filters %}
              <label for="{{ flexFilter.name }}" class="sr-only">{{ flexFilter.label }}:</label>
              <select name="{{ flexFilter.name }}" id="{{ flexFilter.name }}" class="border-2 w-96 text-body" data-refs="select" data-value="">
                <option value="*" selected>{{ flexFilter.label }}</option>
                {% for val in flexFilter.terms %}
                  <option value="{{ val.term_id }}">{{ val.name }}</option>
                {% endfor %}
              </select>
            {% endfor %}
          </div>
          {% if viewAllLink %}
            <a href="{{ viewAllLink.url }}" class="underline hover:no-underline caption font-bold">{{ viewAllLink.title }}</a>
          {% endif %}
        </div>
      {% endif %}
      <div class="hidden xs:grid-cols-2 md:grid-cols-3 xl:grid-cols-4"></div>
      <ul
        data-refs="listing"
        class="
          w-full
          mx-auto
          grid
          xs:grid-cols-{{ maxCols - 2 }} md:grid-cols-{{ maxCols - 1 }} xl:grid-cols-{{ maxCols }}
          gap-xs sm:gap-md
          {% if highlightFirst %} firstItemLarger {% endif %}
        "
        data-post-types="{{post_types|json_encode|e}}"
        data-orderby='{{ orderby }}'
        data-order='{{ order }}'
        data-max-posts='{{ maxPosts }}'
        data-labels='{{ labels|json_encode()|e }}'
        data-query='{{ tax_query|json_encode()|e }}'

      > 
        {% include 'Partials/_items.twig' with {posts: posts, 'labels': labels } %}
      </ul>
      {% if (show_load_more and found_posts > posts|length ) %}
        <div class="w-full flex justify-center align-center">
        <a class="btn btn-primary hover:cursor-pointer text-buttonSmall font-bold my-8" data-refs="loadMore">
          View More
        </a>
        </div>
      {% endif %}
    </div>
  </flynt-component>
{% endif %}
