{% import "Components/_Atoms/Titles/title/macro.twig" as h %}
{% import "Components/_Containers/GridElement.twig" as ge %}

{% set componentOptions = {
    name: 'ElementPageHeader',
    loadOn: 'visible',
    class: 'overflow-hidden',
} %}

{% set options = {
    colorText: 'var(--blue)',
    colorBackground: 'var(--paperColor)',
} %}

{% set headerTitle %}
  {% if post.header.longTitle %}
    {{ h.h(post.header.longTitle, { level: 1, class: 'pt-48' }) }}
  {% else %}
    {{ h.h(post.title, { level: 1, class: 'pt-48 font-extraLarge' }) }}
  {% endif %}
{% endset %}

{% set headerIntro %}
  {% if post.header.intro %}
    {{ h.h(post.header.intro, { level: 2, class: '' }) }}
  {% endif %}
{% endset %}

{% set content %}
  <div class="container-grid relative items-end prose mt-max">
    {{ ge.gridElement(headerTitle, {
      'cols': {
        'mobile': {'start': 1, 'end': 6},
        'tablet': {'start': 1, 'end': 7},
        'desktop': {'start': 1, 'end': 7}
      }
    }) }}
    
    {% if post.header.intro %}
      {{ ge.gridElement(headerIntro, {
        'cols': {
          'mobile': {'start': 1, 'end': 6},
          'tablet': {'start': 8, 'end': 12},
          'desktop': {'start': 8, 'end': 12}
        }
      }) }}
    {% endif %}
  </div>

  <div class="absolute -right-[12rem] -top-[18rem] w-[60rem] h-[60rem]">
    {% include 'Components/ElementPageHeader/shape.twig' with {
      image: post.header.shape,
      stretch: post.header.stretch,
    } only %}
  </div>
{% endset %}

{% include 'Components/_Containers/FlyntComponent.twig' with {
    content: content,
    componentOptions: componentOptions
} %}