{% import "Components/_Atoms/Titles/title/macro.twig" as h %}

<flynt-component
  load:on="visible"
  name="BlockCards"
  style="
    background-color: {% if options.colorBackground %}{{ options.colorBackground }}{% else %}var(--bgColor){% endif %};
    color: {% if options.colorText %}{{ options.colorText }}{% else %}var(--textColor){% endif %};
  "
  >
  {% set hasText = content.blockTitle or content.textContent %}
  <div class="container mx-auto {{ hasText ? 'pt-md pb-xl xs:pb-[100px] xs:pt-lg md:pt-xl xxl:pb-xxl' : 'p-md xs:p-xl xxl:p-[140px]' }}">
  {% if content.textContent or content.blockTitle %}
    <div class="mb-[48px] sm:mb-lg xxl:mb-[100px]">
      <div class="text-contents font-body">
        {% if content.blockTitle %}
          {{ h.h(content.blockTitle, { level: 3, class: '' }) }}
        {% endif %}
        {% if content.textContent %}
        <p>
          {{ content.textContent|e('wp_kses_post') }}
        </p>
        {% endif %}
      </div>
    </div>
  {% endif %}
    {% if cards %}
      {% set layoutCardClass = '' %}
      {% if options.layout == '3col' %}
        {% set layoutCardClass = 'basis-full md:basis-[calc(100%_/_2-20px_/2)] xl:basis-[calc(100%_/_3-2_*_20px_/3)]' %}
      {% elseif options.layout == '4col' %}
        {% set layoutCardClass = 'col-span-6 sm:col-span-3 md:col-span-6 xxl:col-span-3' %}
      {% endif %}
    <div
      class="grid grid-cols-6 md:grid-cols-12 gap-xs xs:gap-sm"
    >
      {% if options.layout == '3col' %}
      <div class="col-span-full md:col-start-2 md:col-span-10 xl:mx-[-27px] xxl:mx-0 flex flex-wrap justify-center gap-xs xs:gap-sm">
      {% endif %}
      {% for card in cards %}
        <div class="rounded-[10px] {{ layoutCardClass }}" style="background-color: {{card.bgColor}}; color: {{card.color}};">
          <div class="flex flex-col gap-[31px] p-[30px] sm:p-md">
            <div class="w-full h-[80px] flex overflow-hidden">
              {% if card.image %}
                <img class="w-full h-full object-contain object-left" src="{{ card.image.src }}" alt="{{ card.image.alt }}"
                  src="{{ card.image.src|resize(32) }}" 
                  data-srcset="{{ function('wp_get_attachment_image_srcset', card.image.id) }}" 
                  data-sizes="auto" 
                  data-src="{{ card.image.src }}" 
                  alt="{{ card.image.alt|e }}"
                />
              {% endif %}
            </div>
            {% if card.title or card.text %}
            <div>
              {% if card.title %}
                {{ h.h(card.title, { level: 2, class: 'relative font-titleSub mb-[31px]' }) }}
              {% endif %}
              {% if card.text %}
                <p class="font-body">{{ card.text }}</p>
              {% endif %}
            </div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
      {% if options.layout == '3col' %}
      </div>
      {% endif %}
    </div>
  {% endif %}
  </div>
</flynt-component>