{% import "Components/_Atoms/Titles/title/macro.twig" as h %}
{% import "Components/_Containers/GridElement.twig" as ge %}

{% set componentOptions = {
    name: 'BlockCards',
    loadOn: 'idle',
} %}

{% set titleContent %}
  {% if content.blockTitle %}
    {{ h.h(content.blockTitle, { level: 2, class: 'font-contentTitle uppercase' }) }}
  {% endif %}
{% endset %}

{% set cardsContent %}
    
    {# TODO: Implement grid system for mobile and desktop  #}
    {# TODO: Implement grid-cols-4  #}

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-sm">
      {% for card in cards %}
        <div class="anim-move-up rounded border col-span-1" style="background-color: {{card.bgColor}}; color: {{card.color}};">
          <div class="flex flex-col gap-md p-md">

            <div class="w-full h-extra flex overflow-hidden">
              {% if card.image %}
                <img class="w-full h-full object-contain object-left" src="{{ card.image.src }}" alt="{{ card.image.alt }}"
                  src="{{ card.image.src|resize(32) }}" 
                  data-srcset="{{ function('wp_get_attachment_image_srcset', card.image.id) }}" 
                  data-sizes="auto" 
                  data-src="{{ card.image.src }}" 
                  alt="{{ card.image.alt|e }}"
                />
              {% endif %}
            </div>

            {% if card.title or card.text %}
            <div>
              {% if card.title %}
                {{ h.h(card.title, { level: 3, class: 'relative font-titleSub mb-md' }) }}
              {% endif %}
              {% if card.text %}
                <p class="font-paragraph">{{ card.text }}</p>
              {% endif %}
            </div>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div>
{% endset %}

{% set content %}
  <div class="container-grid relative items-start">
    {{ ge.gridElement(titleContent, {
      'cols': {
        'mobile': {'start': 1, 'end': 4},
        'tablet': {'start': 1, 'end': 12},
        'desktop': {'start': 1, 'end': 2},
        'max': {'start': 1, 'end': 2}
      }
    }) }}
    
    {{ ge.gridElement(cardsContent, {
      'cols': {
        'mobile': {'start': 1, 'end': 4},
        'tablet': {'start': 1, 'end': 12},
        'desktop': {'start': 3, 'end': 12},
        'max': {'start': 3, 'end': 12}
      }
    }) }}
  </div>
{% endset %}

{% include 'Components/_Containers/FlyntComponent.twig' with {
    content: content,
    componentOptions: componentOptions
} %}
