<flynt-component
  load:on="idle" name="SliderText"
  class="pb-0 lg:pb-xl overflow-hidden"
  style="
    color: {% if options.colorSecondary %}{{ options.colorSecondary }}{% else %}var(--white){% endif %};
  "
  {{ options.navStyle ? 'data-navStyle="' ~ options.navStyle ~ '"' }}
>
  <script type="application/json">{{ jsonData|json_encode }}</script>
  <div class="max-w-screen-max w-full mx-auto p-0 xs:p-sm md:p-md lg:p-lg">
    {% if blockTitle %}
      {% include 'Components/_Atoms/Titles/blockTitle.twig' 
        with {
          blockTitleClasses: 'hidden xs:block pb-sm lg:pb-md text-black',
          blockTitle: blockTitle
        }
      %}
    {% else %}
      <div class="hidden xs:block pb-sm lg:pb-md h-[75px]"></div>
    {% endif %}

    <div data-ref="slider" class="slider relative max-w-full swiper-container">
      {% if blockTitle %}
        {% include 'Components/_Atoms/Titles/blockTitle.twig' 
          with {
            blockTitleClasses: 'block xs:hidden w-2/3 absolute left-sm top-md lg:pb-md z-50',
            blockTitle: blockTitle
          }
        %}
      {% endif %}
      {% include 'Components/_Atoms/Slider/navArrows.twig' %}
      <div 
        data-ref="dots" 
        style="color: {% if options.colorSecondary %}{{ options.colorSecondary }}{% else %}var(--black){% endif %};"
        class="block xs:hidden slider-pagination swiper-pagination-fraction"></div>
      <div class="swiper-wrapper box box-inherit">
        {% for box in contentBoxes %}
          <div class="box-border fade-in move-up gap-[40px] overflow-hidden min-h-[450px] relative w-full !h-auto item swiper-slide p-sm lg:p-md lg:mr-md !flex flex-col justify-between" style="background-color: {% if box.colorBackground %}{{ box.colorBackground }}{% else %}var(--secondary){% endif %}; color:{% if box.colorText %}{{ box.colorText }}{% else %}var(--white){% endif %};">
            <div class="block xs:hidden py-md"></div>
            {% if box.panelTextbox %}
              <div class="wysiwyg">{{ box.panelTextbox|e('wp_kses_post') }}</div>
            {% endif %}
            <div>
              {% if box.panelLogo %}
                <div class="">
                  <img class="logo lazyload w-auto h-[45px] object-contain {% if box.logoFilter %} brightness-0 invert {% endif %}"
                  src="{{ box.panelLogo.src | resize(32) }}"
                  data-srcset="{{function('wp_get_attachment_image_srcset', box.panelLogo.id)}}"
                  data-sizes="auto">
                </div>
              {% endif %}
              {% if box.panelAuthor %}<div class="caption mt-md" style="color:{% if box.colorText %}{{ box.colorText }}{% else %}var(--white){% endif %};">{{ box.panelAuthor }}</div>{% endif %}
            </div>
            <div class="block xs:hidden py-xs"></div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</flynt-component>
