<flynt-component load:on="visible" name="ElementPostFooter" class="componentSpacing">
  <div class="container centerMaxWidthContainer">
    <div class="centerContentMaxWidth">
      <hr>
      <div data-size="medium" data-align="left">
        {% if post.terms('tag')  %}
          <span class="visuallyHidden">{{ labels.tagsLabel }}</span>
          <ul class="tags flex flex-wrap">
            {% for tag in post.terms('tag')  %}
              <li class="tag inline-block my-1">
                <a class="button button--text" href="{{ tag.link|e('esc_url') }}">{{ tag }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}

        <div class="author flex flex-col xs:flex-row gap-4 xs:gap-8 text-start ">
          {% if post.author.avatar %}
            <a class="avatar" href="{{ post.author.link|e('esc_url')|e('esc_url') }}" aria-hidden="true" tabindex="-1">
              <img class="avatar-image w-[64px] sm:w--[94px] border-r-[50%]" width="64" height="64" src="{{ post.author.avatar }}" alt="{{ post.author.name|e }}">
            </a>
          {% endif %}
          <div class="details flex flex-1flex-col justify-center">
            <p class="name">
              <a href="{{ post.author.link|e('esc_url')|e('esc_url') }}">
                <span class="visuallyHidden">{{ labels.postedByLabel }}</span>
                {{ post.author.name }}
              </a>
            </p>
            {% if post.author.meta.description %}
              <p class="description text-bodyMobile">{{ post.author.meta.description|e }}</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</flynt-component>
