{% import "Components/_Atoms/Button/macro.twig" as btn %}
{% import "Components/_Atoms/macroIcon.twig" as icon %}
{% import "Components/_Containers/GridElement.twig" as ge %}

{% set componentOptions = {
    name: 'NavigationFooter',
    loadOn: 'visible',
    class: "w-full left-0 bottom-0"
} %}

{% set options = {
    colorText: 'var(--brandColor)',
    colorBackground: 'var(--paperColor)',
} %}

{% set logoContent %}
  {% if logoFooter %}
    <a class="h-8" href="{{ site.link|e('esc_url') }}" aria-label="Go to Homepage">
      <img class="logo lazyload h-8   mb-4" 
      src="{{ logoFooter.src | resize(32) }}"
      data-srcset="{{function('wp_get_attachment_image_srcset', logoFooter.id)}}"
      data-sizes="auto">
    </a>
  {% endif %}
{% endset %}

{% set socialContent %}
  {% if social %}
    <div class="flex flex-row gap-sm items-center">
      <div class="flex flex-row">
        <p>{{ socialMediaTitle }}</p>
      </div>
      <div class="flex flex-row gap-sm">
        {% for socials in social %}
            <a href="{{ socials.linkLabel|e('esc_url') }}" class="block w-md h-md" aria-label="{{ socials.title|e }}">
            {{ icon.icon(socials.platform.value) }}
          </a>
        {% endfor %}
      </div>
    </div>
  {% endif %}
{% endset %}

{% set linksContent %}
  <h3 class="font-bold uppercase pb-sm"> {{ linkTitle }} </h3>
  <ul>
    {% for item in links %}
      <li class="pb-xs">
        <a class="link text-textColor" href="{{ item.link.url }}">{{ item.link.title }}</a>
      </li>
    {% endfor %}
  </ul>
{% endset %}

{% set contactContent %}
  <h3 class="font-bold uppercase pb-sm"> {{ contactTitle }}</h3>
  <div class="wysiwyg">
    {{ contactInfo|e('wp_kses_post') }}
  </div>
{% endset %}

{% set menuContent %}
  {% if menu %}
    <div class="md:flex justify-between pt-md">
      <div class="mt-md md:mt-0">
        {{ 'now' | date('Y') }} - {{ site.name }} | All rights reserved
      </div>
    </div>
  {% endif %}
{% endset %}

{% set content %}
  <div class="container-grid gap-y-md items-start">
    {{ ge.gridElement(logoContent ~ socialContent, {
      'cols': {
        'mobile': {'start': 1, 'end': 4},
        'tablet': {'start': 1, 'end': 5},
        'desktop': {'start': 1, 'end': 4}
      }
    }) }}

    {{ ge.gridElement(linksContent, {
      'cols': {
        'mobile': {'start': 1, 'end': 6},
        'tablet': {'start': 6, 'end': 8},
        'desktop': {'start': 7, 'end': 9}
      }
    }) }}

    {{ ge.gridElement(contactContent, {
      'cols': {
        'mobile': {'start': 1, 'end': 6},
        'tablet': {'start': 9, 'end': 12},
        'desktop': {'start': 10, 'end': 12}
      }
    }) }}

    {{ ge.gridElement(menuContent, {
      'cols': {
        'mobile': {'start': 1, 'end': 6},
        'tablet': {'start': 1, 'end': 12},
        'desktop': {'start': 1, 'end': 12}
      },
      'class': ''
    }) }}
  </div>
{% endset %}

{% include 'Components/_Containers/FlyntComponent.twig' with {
    content: content,
    componentOptions: componentOptions
} %}
