<flynt-component 
  class="w-full left-0 bottom-0" 
  load:on="visible" 
  name="NavigationFooter" 
  style="
    background: {% if colorBackground %}{{ colorBackground }}{% else %}var(--brandColor){% endif %}; 
    color: {% if colorText %}{{ colorText }}{% else %}var(--bgColor){% endif %};
  ">
  <div class="max-w-screen-max mx-auto px-sm pb-md pt-md sm:px-lg sm:pb-xl sm:pt-[52px] lg:p-lg flex flex-col">
    <div class="flex flex-col gap-[42px] justify-between items-start w-full xxl:gap-lg">
      {% if logoFooter %}
        <a href="{{ site.link|e('esc_url') }}" aria-label="Go to Homepage">
          <img class="logo lazyload w-[150px] sm:w-[170px]"
          src="{{ logoFooter.src | resize(32) }}"
          data-srcset="{{function('wp_get_attachment_image_srcset', logoFooter.id)}}"
          data-sizes="auto">
        </a>
      {% endif %}
      <div class="w-full grid grid-cols-6 gap-y-md gap-x-xs sm:gap-x-sm xxl:flex xxl:gap-x-[126px] xxl:justify-between wide:gap-x-[100px]">
        <div class="col-span-full sm:col-span-3 sm:-me-[50px] font-bodySmaller xxl:max-w-[368px] xxl:me-0">
          <div>
            {{ paragraph }}<br><br>
            {{ 'now' | date('Y') }} - {{ site.name }} | All right reserved
          </div>
        </div>
        <div class="col-span-3 sm:col-start-5 sm:col-span-2 border-s-1 ps-4 font-linkSmall xxl:min-w-[136px]">
          {% if menu %}
            <nav aria-label="{{ labels.ariaLabel }}">
              {% include 'Partials/_menu.twig' with { 'items': menu.get_items, 'level': '0', 'maxLevel': maxLevel } only %}
            </nav>
          {% endif %}
        </div>
        <div class="col-span-3 sm:col-span-2 sm:-me-[12px] border-s-1 ps-4 justify-between flex flex-col gap-[1.375rem] font-bodySmaller -ms-[10px] sm:ms-0 xxl:m-0 xxl:w-[219px] wide:w-[240px]">
          <div class="font-bodySmall">Offices</div>
          <p>Lorem ipsum dolor sot amet consectetur lorem ipsum doloe</p>
          <p>Lorem ipsum dolor sot amet consectetur lorem ipsum doloe</p>
        </div>
        <div class="col-span-4 sm:col-start-5 sm:col-span-2 border-s-1 ps-4 flex flex-col gap-4 font-bodySmaller xxl:w-[219px] wide:w-[240px]">
          <div class="font-bodySmall">Contact</div>
          <p>Get in touch now. Lorem ipsum dolor sit amet consectetur</p>
          <a class="button button--accent button--icon" href="#">Contact Us</a>
        </div>
        {% if social %}
          <div class="col-span-full flex flex-col gap-xs sm:hidden w-full grow lg:grow-0 items-start justify-start social">
            {% if socialMediaTitle %}
              <div class="caption font-bold">{{ socialMediaTitle }}</div>
            {% endif %}
            <div class="flex flex-row gap-[5px]">
              {% for socials in social %}
                <a class="socialList-link" href="{{ socials.url }}" target="_blank" aria-label="{{ socials.platform.label }}">
                  {% include 'Components/_Atoms/icon.twig'
                  with {
                    icon: socials.platform.label|lower ~ '-white',
                    color: 'text-bgColor',
                    iconClasses: '',
                  }
                  %}
                </a>
              {% endfor %}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
    {# <div class="flex flex-col-reverse lg:flex-row gap-lg justify-start items-start lg:items-center w-full">
      {% if social %}
        <div class="hidden lg:flex flex-row items-center justify-end social lg:w-1/3">
          {% if socialMediaTitle %}
            <div class="caption font-bold">{{ socialMediaTitle }}</div>
          {% endif %}
          {% for socials in social %}
            <a class="socialList-link" href="{{ socials.url }}" target="_blank" aria-label="{{ socials.platform.label }}">
              {% include 'Components/_Atoms/icon.twig' with {
                    icon: socials.platform.label|lower ~ '-white', color: 'text-bgColor' }
              %}
            </a>
          {% endfor %}
        </div>
      {% endif %}
    </div> #}
  </div>
  {% if partnerlogos or social %}
    <div class="border-t-1 flex flex-row items-center justify-between max-w-screen-max mx-auto px-sm py-[24px] sm:px-lg sm:py-[27px] lg:p-lg sm:gap-20">
    {% if partnerlogos %}
      <div class="w-full flex items-stretch">
        {% for partner in partnerlogos %}
        {% set styles = [] %}
        {% if partner.basis and (loop.first or loop.last) %}
          {% set flexBasis = partner.basis + 29 %}
        {% elseif partner.basis %}
          {% set flexBasis = partner.basis + 29 + 29 %}
        {% endif %}
        {% if partner.basis %}
          {% set styles = styles|merge(['flex-basis:' ~ flexBasis ~ 'px']) %}
        {% endif %}
        <div class="flex items-center py-xs
          {{ not loop.first ? 'ps-[29px] border-s-1' }}
          {{ not loop.last ? 'pe-[29px]' }}"
          {% if styles is not empty %}
            style="
              {% for style in styles %}
                {{ style }};
              {% endfor %}
            "
          {% endif %}
          >
          <img class="lazyload"
            src="{{ partner.image.src | resize(32) }}"
            data-srcset="{{function('wp_get_attachment_image_srcset', partner.image.id)}}"
            data-sizes="auto"
            alt="{{ partner.image.alt }}">
          </div>
        {% endfor %}
      </div>
    {% endif %}
    {% if social %}
      <div class="col-span-full hidden flex-col gap-xs basis-0 w-full social sm:flex">
        {% if socialMediaTitle %}
          <div class="caption font-bold">{{ socialMediaTitle }}</div>
        {% endif %}
        <div class="flex flex-row gap-[5px]">
          {% for socials in social %}
            <a class="socialList-link" href="{{ socials.url }}" target="_blank" aria-label="{{ socials.platform.label }}">
              {% include 'Components/_Atoms/icon.twig'
              with {
                icon: socials.platform.label|lower ~ '-white',
                color: 'text-bgColor',
                iconClasses: '',
              }
              %}
            </a>
          {% endfor %}
        </div>
      </div>
    {% endif %}
    </div>
  {% endif %}
</flynt-component>
