<flynt-component
  class="flyntComponent componentSpacing {{ options.theme }}" 
  style="--themeBrand_colorBackground: {{ options.colorBrandBackground }}; --themeBrand_colorText: {{ options.colorBrandText }};" 
  is="flynt-cta-donate"
  name="CtaDonate"
>
  {% if sideTitle %}
    <div class="side-title">
      <h2 class="title">{{ sideTitle|e }}</h2>
    </div>
  {% endif %}
  <div class="container" style="">
    <div class="col">
      {% if contentHtml %}
        {{ contentHtml|wp_kses_custom }}
      {% endif %}
    </div>
    <div class="col">
      <div class="donate">
        <div class="donate-pre">
          {% if ctaLink %}
            <a href="{{ ctaLink.url ~ '/?amount=' ~ fixedDonations.amount1 }}" class="donate-pre-amount h4">{{ fixedDonations.amount1 }}&#32;€</a>
            <a href="{{ ctaLink.url ~ '/?amount=' ~ fixedDonations.amount2 }}" class="donate-pre-amount h4">{{ fixedDonations.amount2 }}&#32;€</a>
            <a href="{{ ctaLink.url ~ '/?amount=' ~ fixedDonations.amount3 }}" class="donate-pre-amount h4">{{ fixedDonations.amount3 }}&#32;€</a>
            <a href="{{ ctaLink.url ~ '/?amount=' ~ fixedDonations.amount4 }}" class="donate-pre-amount h4">{{ fixedDonations.amount4 }}&#32;€</a>
          {% else %}
            <a href="/spenden/?amount={{ fixedDonations.amount1 }}" class="donate-pre-amount h4">{{ fixedDonations.amount1 }}&#32;€</a>
            <a href="/spenden/?amount={{ fixedDonations.amount2 }}" class="donate-pre-amount h4">{{ fixedDonations.amount2 }}&#32;€</a>
            <a href="/spenden/?amount={{ fixedDonations.amount3 }}" class="donate-pre-amount h4">{{ fixedDonations.amount3 }}&#32;€</a>
            <a href="/spenden/?amount={{ fixedDonations.amount4 }}" class="donate-pre-amount h4">{{ fixedDonations.amount4 }}&#32;€</a>
          {% endif %}
        </div>
        <form class="donate-select">
          <input class="donate-custom-amount" type="number" placeholder="{{ placeholderText|e }}" name="donation" id="donation" />
          <input class="donate-submit button button--yellow" type="button" name="donate" id="donate" value="{{ buttonText|e }}" data-cta-link={{ ctaLink.url }} />
        </form>
      </div>
    </div>
  </div>
</flynt-component>
