{# Störer #}
<flynt-component 
  class="flyntComponent mb-[5rem] {{ options.theme }} {% if isContactForm %} is-contact-form {% endif %}" style="--themeBrand_colorBackground: {{ options.colorBrandBackground }}; --themeBrand_colorText: {{ options.colorBrandText }};" is="flynt-hero-image-title-text-parallax"
>
  <div class="w-full">
    <div class="h-full w-full absolute overflow-hidden">
      <picture class="picture">
        <source srcset="
          {{function('wp_get_attachment_image_srcset', images.imageDesktop.id)}}"
        media="(min-width: 768px)"
        sizes="100vw">
        <img class="image w-full h-full parallax"
          srcset="
            {{function('wp_get_attachment_image_srcset', images.imageMobile.id)}}"
          src="{{ images.imageMobile.src | resize(32) }}"
          sizes="100vw"
          data-object-fit="cover"
          alt="{{ images.imageDesktop.alt|e }}">
        <div class="content-caption">
            <span class="caption">{{ images.imageDesktop.caption|e }}</span>
        </div>
      </picture>

      {% if contentTitle %}
        <div class="content-title absolute z-20 top-0 left-1/2 -translate-x-1/2 -translate-y-2 md:-translate-y-4">
          <h2 class="title font-pageTitle" data-text="{{ contentTitle|e }}">{{ contentTitle|e }}</h2>
        </div>
      {% endif %}   
    </div>

    <div class="relative z-10 w-full max-w-[800px] mx-auto translate-y-[6rem] md:translate-y-[10rem] pt-[2.5rem] md:pt-[5rem] pb-[3rem] md:pb-[5rem] px-md xs:px-xl lg:px-0">
      <div class="p-8 md:p-12 bg-yellow">
        <div class="content-inner prose">
          {{ contentText }}
        </div>
      </div>
    </div>
  </div>
  
</flynt-component>
