<flynt-component
  load:on="idle"
  name="Scrollytelling"
  class=""
  style="
    background-color: {% if options.colorBackground %}{{ options.colorBackground }}{% else %}var(--grey){% endif %};
    color: {% if options.colorText %}{{ options.colorText }}{% else %}var(--white){% endif %};
  "
  {{ options.navStyle ? 'data-navStyle="' ~ options.navStyle ~ '"' }}
>
  <div class="max-w-screen-max w-full mx-auto p-sm md:p-lg" id="scrollytelling">
    <div id="scrollytelling-inner" class="max-w-screen-max mx-auto h-full relative">
      <div class="wrapper h-auto md:h-screen w-full md:absolute">
        {% if blockTitle %}
          <div class="w-full mx-auto">
            <h2 class="subtitle font-bold" style="color: {% if options.colorSecondary %}{{ options.colorSecondary }}{% else %}var(--white){% endif %};">{{ blockTitle }}</h2>
          </div>
        {% endif %}
        {% for item in scrollytelling %}
          <div class="panel md:absolute h-auto md:h-[calc(100vh_-_100px)] w-full mt-lg mb-xxl md:m-0 grid grid-cols-1 md:grid-cols-2 gap-sm md:gap-lg items-center {% if item.hideOnMobile %}hidden md:grid{% endif %}">
            {% if item.image %}
              <img class="w-full max-w-[600px] mx-auto"
                src="{{ item.image.src | resize(32) }}"
                data-srcset="{{function('wp_get_attachment_image_srcset', item.image.id)}}"
                data-sizes="auto">
            {% endif %}
            {% if item.contentHtml %}
              <div class="md:hidden row max-w-[600px] mx-auto">
                {{ item.contentHtml|e('wp_kses_post') }}
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
    {% for item in scrollytelling %}
      <div class="relative hidden md:grid panel h-auto md:h-[calc(100vh_-_100px)] w-full mt-lg mb-xxl md:m-0 grid-cols-1 md:grid-cols-2 gap-sm md:gap-lg items-center">
        {% if item.contentHtml %}
          <div class="row max-w-[600px] mx-auto col-start-2">
            {{ item.contentHtml|e('wp_kses_post') }}
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</flynt-component>
