<flynt-component class="" load:on="idle" name="Scrollytelling" {{ options.navStyle ? 'data-navStyle="' ~ options.navStyle ~ '"' }} 
  style="
    background-color: {% if options.colorBackground %}{{ options.colorBackground }}{% else %}var(--grey){% endif %}; 
    color: {% if options.colorText %}{{ options.colorText }}{% else %}var(--white){% endif %};"
  >
  <div class="max-w-screen-max w-full mx-auto p-sm md:p-md sm:p-lg" id="scrollytelling">
    <div class="max-w-screen-max mx-auto h-full relative" id="scrollytelling-inner">
      <div class="w-full mx-auto">
        {% if blockTitle %}
          {% include 'Components/_Atoms/Titles/blockTitle.twig' with {
            blockTitle: blockTitle
          } %}
        {% endif %}
      </div>
      <div class="wrapper h-auto sm:h-screen w-full sm:absolute">
        {% for item in scrollytelling %}
          <div class="panelIllustration sm:absolute h-auto sm:h-[calc(100vh_-_100px)] w-full mt-lg mb-xxl sm:m-0 grid grid-cols-1 sm:grid-cols-2 gap-sm sm:gap-lg items-center {% if item.hideOnMobile %}hidden sm:grid{% endif %}">
            {% if item.image %}
              <img class="lazyload w-full max-w-[600px] mx-auto px-md py-lg sm:p-0" 
                src="{{ item.image.src | resize(32) }}"
                data-srcset="{{function('wp_get_attachment_image_srcset', item.image.id)}}" 
                data-sizes="auto" 
              >
            {% endif %}
            {% if item.contentHtml %}
              <div class="wysiwyg sm:hidden row max-w-[600px] mx-auto font-bold">
                {{ item.contentHtml|e('wp_kses_post') }}
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
    {% for item in scrollytelling %}
      <div class="relative hidden sm:grid panel h-auto sm:h-[calc(100vh_-_100px)] w-full mt-lg mb-xxl sm:m-0 grid-cols-1 sm:grid-cols-2 gap-sm sm:gap-lg items-center">
        {% if item.contentHtml %}
          <div class="wysiwyg row max-w-[600px] mx-auto col-start-2 font-bold">
            {{ item.contentHtml|e('wp_kses_post') }}
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</flynt-component>
