{% import "Components/_Containers/GridElement.twig" as ge %}

{% set textFader %}
    <div class="relative h-full bg-green rounded" data-ref="textFader">
        {% for textImageCard in textImageCards %}
            <div class="flex flex-col justify-between absolute text-white h-full px-sm pt-[2.5rem] md:px-md   md:pt-lg py-sm transition-opacity
                {{loop.index0 == 0 ? "opacity-100 z-10" : "opacity-0 z-0 pointer-events-none cursor-default" }}">
                <div class="text-content">
                    {% if textImageCard.contentTitle %}
                        <div class="font-pageTitle mb-6 md:mb-8"> 
                            {{textImageCard.contentTitle}}
                        </div>
                    {% endif %}
                    {% if textImageCard.introText %}
                        <div class="font-sectionTitle mb-8 sm:mb-10 md:mb-0"> 
                            {{textImageCard.introText}}
                        </div>
                    {% endif %}
                </div>
                {% if textImageCard.ctaLink %}
                    <a class="btn-primary self-end md:self-end md:order-2" href="{{textImageCard.ctaLink.url}}" target="{{textImageCard.ctaLink.target}}" 
                        data-index="{{loop.index0}}">
                        {{textImageCard.ctaLink.title}}
                    </a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endset %}

{{ ge.gridElement(textFader, {
    'cols': {
        'mobile': {'start': 1, 'end': 6},
        'tablet': {'start': 1, 'end': 8},
        'desktop': {'start': 1, 'end': 5},
    },
    'class': 'row-start-1 row-end-3 md:row-end-2 z-10'
}) }}