<div class="{{ color }} {{ height }} {{ width }} {{ iconClasses }} w-lg hlg bg-accentColor rounded-full p-sm hover:bg-hoverColor focus:bg-hoverColor active:bg-activeColor transition-all ease-linear duration-200">
    {% if png %}
        <img src="{{ '/wp-content/themes/boilerplate-flynt-next/assets/icons/' ~ icon|lower|replace({'/': "", ' ': ""}) ~ '.png' }}" alt="{{ icon }}" class="w-full h-full">
    {% else %}
        {% include 'assets/icons/' ~ icon|lower|replace({'/': "", ' ': ""}) ~ '.svg' %}
    {% endif %}
</div>