<li class="grid-item {% if options.fadeIn %} fade-in {% endif %} {% if options.moveIn %} move-in {% endif %}" data-category="{{item.category.id}}">
  <div class="content">
    <a href="{{ item.link }}" class="content-link" title="{{ item.title }}">
      <div class="content-container">
        <div class="content-imagebox">
          <img class="content-image lazyload" src="{{ item.thumbnail.src|resize(32) }}" data-srcset="{{ function('wp_get_attachment_image_srcset', item.thumbnail.id) }}" data-sizes="auto" alt="{{ item.thumbnail.alt|e }}" />
          {% if item.thumbnail.caption %}
            <figcaption class="figure-caption">{{ item.thumbnail.caption|e }}</figcaption>
          {% endif %}
        </div>
        {% if options.displayDate and item.field_meta_date %}
          <time class="content-date meta-date" datetime="{{ item.field_meta_date }}">
             {{ item.field_meta_date|date('d.m.y')}}
          </time>
        {% else %}
          <time class="content-date meta-date" datetime="{{ item.date('d.m.y') }}">
            {{ item.date('d.m.y') }}
          </time>
        {% endif %}
        <div class="content-inner">
          <div>
            <h3 class="content-category h5 mb-sm md:mb-4"><span class="content-category-title normal-case px-3">{{ item.category }}</span></h5>
            {% if item.post_excerpt %}
              <p class="content-excerpt {% if loop.index > 1 %} md:font-paragraphSmall {% else %} md:font-sectionTitle {% endif %}">{{ item.post_excerpt|truncate(12) }}</p>
            {% else %}
              <p class="content-excerpt md:font-paragraphSmall">{{ item.preview.read_more(false).length(12) }}</p>
            {% endif %}
          </div>
          {% if item.field_meta_text %}
            <p class="content-subtitle meta-text md:font-paragraphSmall">{{ item.field_meta_text }}</p>
          {% elseif item.field_meta_file %}
            <p class="content-subtitle meta-file md:font-paragraphSmall"><span class="meta-file-subtype">{{item.field_meta_file.subtype}}</span> download</p>
          {% endif %}
        </div>
      </div>
    </a>
  </div>
</li>
