<flynt-component
  load:on="idle"
  name="HeroIllustration"
  class=""
  style="
    background-color: {% if options.colorBackground %}{{ options.colorBackground }}{% else %}var(--secondary){% endif %}; color:{% if options.colorText %}{{ options.colorText }}{% else %}var(--white){% endif %};
    color: {% if options.colorText %}{{ options.colorText }}{% else %}var(--white){% endif %};
    "
  {{ options.navStyle ? 'data-navStyle="' ~ options.navStyle ~ '"' }}
  >
  <div class="max-w-screen-max w-full mx-auto p-sm lg:p-lg">
    {% if blockTitle %}
      <div class="max-w-screen-max w-full mx-auto pb-sm lg:pb-lg flex flex-row justify-between align-bottom items-end content-end">
        <h2 class="subtitle font-bold" style="color: {% if options.colorSecondary %}{{ options.colorSecondary }}{% else %}var(--white){% endif %};">{{ blockTitle }}</h2>
      </div>
    {% endif %}
    <div class="max-w-screen-max mx-auto px-sm lg:px-lg h-full flex flex-col gap-xl md:flex-row items-center md:items-start justify-around p-lg md:py-xl">
    {% for item in illustrations %}
      <div class="item w-full md:w-1/3 max-w-[400px] flex flex-col gap-md md:gap-lg justify-center items-center fade-in move-up">
        {% if item.illustration %}
          <figure class="figure">
            <img class="figure-image lazyload max-w-[200px] my-auto max-h-40 md:max-h-max"
              src="{{ item.illustration.src | resize(32) }}"
              data-srcset="{{function('wp_get_attachment_image_srcset', item.illustration.id)}}"
              data-sizes="auto">
          </figure>
        {% endif %}
        {% if item.contentHtml %}
          <div class="">
            {{ item.contentHtml|e('wp_kses_post') }}
          </div>
        {% endif %}
      </div>
    {% endfor %}
    </div>
  </div>
</flynt-component>
