{% import "Components/_Atoms/Titles/title/macro.twig" as h %}

<flynt-component
  load:on="visible"
  name="BlockCarouselCities"
  style="
    background-color: {% if options.colorBackground %}{{ options.colorBackground }}{% else %}var(--bgColor){% endif %};
    color: {% if options.colorText %}{{ options.colorText }}{% else %}var(--textColor){% endif %};
  "
  class="overflow-hidden"
  >
  <script type="application/json">{{ jsonData|json_encode }}</script>
  <div class="container md:my-md mx-auto grid grid-cols-6 md:grid-cols-12 gap-xs sm:gap-sm">

  {% if content.textContent %}
    <div class="
        col-start-{{ content.colTextStart.mobile }}
        xs:col-start-{{ content.colTextStart.tablet }}
        md:col-start-{{ content.colTextStart.desktop }}
        xxl:col-start-{{ content.colTextStart.wide }}
        col-span-{{ content.colTextSpan.mobile }}
        xs:col-span-{{ content.colTextSpan.tablet }}
        md:col-span-{{ content.colTextSpan.desktop }}
        xxl:col-span-{{ content.colTextSpan.wide }}
        flex flex-col justify-between
        "
      >
      <div class="text-contents font-body">
        {% if content.blockTitle %}
          {{ h.h(content.blockTitle, { level: 4, class: '' }) }}
        {% endif %}
        <p>
          {{ content.textContent|e('wp_kses_post') }}
        </p>
      </div>
      <div class="controls absolute md:relative bottom-md right-sm md:left-0 md:bottom-0">
        {% include 'Components/_Atoms/Slider/navArrows.twig' %}
        <div data-ref="indicator" class="border-b-2 border-[#b2c2d5] h-[5px] hidden md:block"></div>
      </div>
    </div>
  {% endif %}
    {% if cards %}
    <div
      data-ref="slider"
      class="
        h-[400px] mt-md mb-[100px] md:my-0
        swiper-container
        col-start-{{ colCardsStart.mobile }}
        xs:col-start-{{ colCardsStart.tablet }}
        md:col-start-{{ colCardsStart.desktop }}
        xxl:col-start-{{ colCardsStart.wide }}
        col-span-{{ colCardsSpan.mobile }}
        xs:col-span-{{ colCardsSpan.tablet }}
        md:col-span-{{ colCardsSpan.desktop }}
        xxl:col-span-{{ colCardsSpan.wide }}"
    >
      <div class="slider relative max-w-full swiper-wrapper">
        {% for card in cards %}
        <div class="swiper-slide city-slide relative text-bgColor rounded-xl overflow-hidden" style="background-color: {{card.color}};">
          <img class="absolute left-0 bottom-0 h-auto" src="{{ card.image.guid }}" alt="{{ card.image.alt }}"
            src="{{ card.image.src|resize(32) }}" 
            data-srcset="{{ function('wp_get_attachment_image_srcset', card.image.id) }}" 
            data-sizes="auto" 
            data-src="{{ card.image.src }}" 
            alt="{{ card.image.alt|e }}"
          />
          <div class="absolute p-sm top-0 left-0">
            {{ h.h(card.label, { level: 2, class: 'relative font-titleSmall' }) }}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
  </div>
</flynt-component>