{% import "Components/_Atoms/Titles/title/macro.twig" as h %}

<flynt-component
  load:on="visible"
  name="BlockStatistics"
  style="
    background-color: {% if options.colorBackground %}{{ options.colorBackground }}{% else %}var(--bgColor){% endif %};
    color: {% if options.colorText %}{{ options.colorText }}{% else %}var(--textColor){% endif %};
  "
  >
  <div class="container mx-auto grid items-center grid-cols-6 md:grid-cols-12 gap-xs xs:gap-sm">
  {% if blockTitle %}
    <div class="col-span-6 xs:col-span-4 md:col-span-6 lg:col-span-5">
      {{ h.h(blockTitle, { level: 3, class: '' }) }}
    </div>
  {% endif %}
  {% if statistics %}
    {%
      set parallaxMap = {
        1: {
          speed: -1,
          xs: -0,
          mobile: -0,
          tablet: -0.75,
        },
        2: {
          speed: 1,
          xs: 0,
          mobile: 0,
          tablet: 0.75,
        },
        3: {
          speed: -1,
          xs: -0,
          mobile: -0,
          tablet: -0.75,
        },
        4: {
          speed: 1,
          xs: 0,
          mobile: 0,
          tablet: 0.75,
        },
      }
    %}
    <div class="col-span-full pt-[1.375rem] xs:flex xs:gap-x-[1.25rem] xs:flex-wrap xs:pe-0">
      {% for stat in statistics %}
        {% set class = '' %}
        {% set imgClass = '' %}
        {% if loop.index % 4 == 1 %}
          {# every 4th element starting with the first #}
          {% set imgClass = 'object-[calc(50%_+_2.0625rem)]' %}
        {% elseif loop.index % 4 == 2 %}
          {# every 4th element starting with the second #}
          {% set class =  'xs:mt-[6.9375rem] md:mt-[9rem]' %}
          {% set imgClass = 'object-[calc(50%_+_2.5rem)] xs:object-start' %}
        {% elseif loop.index % 4 == 3 %}
          {% set class =  'xs:mt-[-0.5625rem] md:mt-[-3.0625rem]' %}
          {% set imgClass = 'object-[calc(50%_+_1.5rem)]' %}
        {% elseif loop.index % 4 == 0 %}
          {% set class =  'xs:mt-[11.6875rem] md:mt-[9.625rem]' %}
          {% set imgClass = 'object-[calc(50%_+_0.9375rem)]' %}
        {% endif %}
        <div class="xs:basis-[calc(50%_-_0.625rem)] md:basis-[calc(25%_-_(3.75rem/3))] {{ not loop.last ? 'mb-[4.125rem] xs:mb-0' }} {{ class }}"
          data-parallax
          data-rellax-speed="{{ parallaxMap[loop.index].speed }}"
          data-rellax-xs-speed="{{ parallaxMap[loop.index].xs }}"
          data-rellax-mobile-speed="{{ parallaxMap[loop.index].mobile }}"
          data-rellax-tablet-speed="{{ parallaxMap[loop.index].tablet }}"
        >
          <div class="w-full mb-[-0.625rem] aspect-[3/2] xs:ps-[3rem] ">
            <img class="image lazyload w-full h-full object-contain xs:object-left {{ imgClass }}"
                src="{{ stat.image.src | resize(32) }}"
                width="{{ 768 }}"
                height="{{ (768 / stat.image.aspect)|round }}"
                data-srcset="{{function('wp_get_attachment_image_srcset', stat.image.id)}}"
                data-sizes="auto"
                alt="{{ stat.image.alt|e }}">
          </div>
          <div class="stat-number" data-parallax data-rellax-speed="-0.25">
            <div data-refs="amount" data-prefix="{{ stat.number.prefix }}" data-amount="{{ stat.number.amount }}" class="stat-amount">{{ stat.number.prefix }}0</div>
            {% if stat.number.unit %}
              <div class="stat-unit font-titleSub mt-xs mb-0">{{ stat.number.unit }}</div>
            {% endif %}
          </div>
          <div class="stat-description  xs:ps-[3rem] {{ stat.number.unit ? 'mt-[1rem]' : 'mt-[1.4375rem]'}}">{{ stat.description }}</div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
  </div>
</flynt-component>
