{% if posts|length > 0 %}
  <flynt-component load:on="visible" name="ListingMap" class="pb-lg lg:py-xxl" data-navStyle="light">
    <div class="">
      {% if blockTitle %}
        <div class="max-w-screen-max w-full mx-auto p-sm flex flex-col gap-sm justify-between align-start items-start content-start">
          <div class="h4">{{ blockTitle }}</div>
          <a href="{{ labels.allPostsLink.url }}" class="underline hover:no-underline font-bold">{{ labels.allPosts }}</a>
        </div>
      {% endif %}

      <div x-data="{ activeProject:  1 }" class="max-w-screen-max w-full mx-auto p-sm flex flex-col md:flex-row gap-lg justify-between items-center">
        
        <div class="w-full md:w-3/4 flex justify-center items-center mx-auto relative">
          <div data-ref="mapWrapper" class="w-full h-auto aspect-video" id="dottedMap"></div>          
          <!-- Dots -->
          <div class="absolute top-0 w-full flex items-center justify-center px-4">
            {% for post in posts %}
              <button
                @click="activeProject = {{loop.index}}"
                class="
                  tab-control
                  bg-[#7CD3B9]
                  flex w-md h-md mx-2
                  rounded-full
                  overflow-hidden
                  transition-all duration-100 linear
                  absolute
                "
                :class="{ 'active': activeProject === {{loop.index}} }"
                data-ref="pin"
                data-latitude="{{ post.latitude }}" 
                data-longitude="{{ post.longitude }}"
              ></button>
              {% endfor %}
          </div>
        </div>

        <div 
          class="w-full md:w-1/4 mx-auto relative"
        >

          <!-- Project -->
          {% for post in posts %}
          <div
            x-cloak 
            x-show="activeProject === {{loop.index}}" 
            data-item="{{loop.index}}"
            x-transition:enter="transition cubic-bezier(0.19, 1, 0.22, 1) duration-800" 
            x-transition:enter-start="opacity-0 hidden" 
            x-transition:enter-end="opacity-100 block" 
            x-transition:leave="transition cubic-bezier(0.19, 1, 0.22, 1) duration-800" 
            x-transition:leave-start="opacity-100 block" 
            x-transition:leave-end="opacity-0 hidden" 
            class="project flex items-start" 
            :class="{ 'active': activeProject === {{loop.index}} }"
            data-latitude="{{ post.latitude }}" 
            data-longitude="{{ post.longitude }}">
            <div class="post w-full grow">
              {% if post.thumbnail %}
                <figure class="figure hidden md:block">
                  <img class="image lazyload h-[400px] object-cover"
                    src="{{  post.thumbnail.src | resize(32) }}"
                    data-srcset="{{function('wp_get_attachment_image_srcset', post.thumbnail.id)}}"
                    data-sizes="auto"
                    data-src="{{ post.thumbnail.src }}"
                    alt="{{ post.thumbnail.alt|e }}">
                </figure>
              {% endif %}
              <div class="content py-sm flex flex-col gap-sm justify-between items-stretch">
                <div class="flex flex-col gap-sm">
                  <div class="w-full p-sm flex flex-row justify-between align-middle items-center border font-mono font-bold">
                    {{ post.category }}
                  </div>
                  <div class="w-full flex flex-col gap-xs justify-between align-start items-start">
                    <div>{{ post.category }}</div>
                    <h2 class="h5 w-full grow">{{ post.title }}</h2>
                  </div>
                </div>
                <div class="flex flex-row lg:flex-col gap-sm justify-start items-start h-full">
                  <button class="border border-black hover:bg-black hover:text-white rounded-full flex justify-center items-center w-fit py-xs px-sm">
                    <a class="link" href="{{ post.link }}" aria-label="{{ post.title }}">{{ labels.readMore }}</a>
                  </button>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          
          
          <!-- Prev/Next Arrows -->
          {# <div class="absolute inset-0 flex">
            <div class="flex items-center justify-start w-1/2">
              <button 
                class="bg-cbegreen text-white font-bold hover:shadow-lg rounded-full w-12 h-12 -ml-6"
                x-on:click="activeSlide = activeSlide === 1 ? slides.length : activeSlide - 1">
                &#8592;
              </button>
            </div>
            <div class="flex items-center justify-end w-1/2">
              <button 
                class="bg-cbegreen text-white font-bold hover:shadow rounded-full w-12 h-12 -mr-6"
                x-on:click="activeSlide = activeSlide === slides.length ? 1 : activeSlide + 1">
                &#8594;
              </button>
            </div>        
          </div> #}
        </div>

      </div>

      {# <ul class="max-w-screen-max mx-auto px-sm lg:px-md flex flex-col lg:flex-row gap-sm lg:gap-md justify-between">
        {% for post in posts %}
          <li class="post lg:w-1/3 grow">
            <a class="link" href="{{ post.link }}" aria-label="{{ post.title }}">
              {% if post.thumbnail %}
                <figure class="figure block">
                  <img class="image lazyload h-[400px] object-cover"
                    src="{{  post.thumbnail.src | resize(32) }}"
                    data-srcset="{{function('wp_get_attachment_image_srcset', post.thumbnail.id)}}"
                    data-sizes="auto"
                    data-src="{{ post.thumbnail.src }}"
                    alt="{{ post.thumbnail.alt|e }}">
                </figure>
              {% endif %}
              <div class="content py-sm flex flex-col gap-sm justify-between items-stretch">
                <div class="flex flex-col gap-sm">
                  <div class="w-full p-sm flex flex-row justify-between align-middle items-center border font-mono font-bold">
                    {{ post.category }}
                  </div>
                  <div class="w-full flex flex-col gap-xs justify-between align-start items-start">
                    <div>{{ post.category }}</div>
                    <h2 class="h5 w-full grow">{{ post.title }}</h2>
                  </div>
                </div>
                <div class="flex flex-row lg:flex-col gap-sm justify-end items-end lg:items-start h-full">
                  <span class="border border-black hover:bg-black hover:text-white rounded-full flex justify-center items-center w-fit py-xs px-sm">{{ labels.readMore }}</span>
                </div>
              </div>
            </a>
          </li>
        {% endfor %}
      </ul> #}
    </div>
  </flynt-component>
{% endif %}
