<flynt-component load:on="visible" name="BlockPostHeader" class="w-full mx-auto p-sm lg:p-md flex flex-row justify-between items-center">
  <div class="w-1/2" style="background: var(--secondary);">
    <h1 class="h2 font-bold">{{ post.title }}</h1>
    {% if post.post_excerpt %}
      <p class="h5">{{ post.post_excerpt }}</p>
    {% endif %}
    {# <div class="meta">
      <a class="author" href="{{ post.author.link|e('esc_url') }}">
        {% if post.author.avatar %}
          <img class="avatar" src="{{ post.author.avatar }}" alt="{{ post.author.name|e }}">
        {% endif %}
        <span class="visuallyHidden">{{ labels.postedBy|e }}</span>
        {{ post.author.name }}
      </a>
      <a class="category" href="{{ post.category.link|e('esc_url') }}">
        <span class="visuallyHidden">{{ labels.postedIn|e }}</span>
        {{ post.category }}
      </a>
      <time class="date" datetime="{{ post.post_date|date('c') }}">{{ post.post_date|date(dateFormat) }}</time>
      <span class="readingtime">{{ labels.readingTime|replace({'%d': post.content|readingtime})|e }}</span>
    </div> #}
  </div>
  {% if post.thumbnail %}
    <div class="featuredImage w-1/2">
      <img class="figure-image lazyload h-full w-full object-cover"
        src="{{ post.thumbnail.src | resize(32) }}"
        data-srcset="{{function('wp_get_attachment_image_srcset', post.thumbnail.id)}}"
        data-sizes="auto">
    </div>
  {% endif %}
</flynt-component>
