<a class="origin-left scale-110" href="{{ site.link|e('esc_url') }}">
  <img data-ref="logo" class="logo w-[120px] h-[35px] sm:w-[172px] sm:h-[48.5px] {{ navOnLight ? 'hidden' }}" width="174" height="50" src="{{ logo.src }}" alt="{{ logo.alt }}">
  <img data-ref="logoDark" class="logo--dark w-[120px] h-[35px] sm:w-[172px] sm:h-[48.5px] {{ not navOnLight ? 'hidden' }}" width="174" height="50" src="{{ logo_dark.src }}" alt="{{ logo.alt }}">
</a>
