<a class="" href="{{ site.link|e('esc_url') }}">
  <img class="w-[100px] h-[28px]" width="174" height="50" src="{{ logo.src }}" alt="{{ logo.alt }}">
  <img class="hidden w-[100px] h-[28px]" width="174" height="50" src="{{ logo_dark.src }}" alt="{{ logo.alt }}">
</a>
