<a class="" href="{{ site.link|e('esc_url') }}">
  <img data-ref="logo" class="logo w-[100px] h-[28px] sm:w-[172px] sm:h-[48.5px]" width="174" height="50" src="{{ logo.src }}" alt="{{ logo.alt }}">
  <img data-ref="logoDark" class="logo--dark hidden w-[100px] h-[28px] sm:w-[172px] sm:h-[48.5px]" width="174" height="50" src="{{ logo_dark.src }}" alt="{{ logo.alt }}">
</a>
