<ul 
  x-data="{ activeSubmenu:  '' }" 
  data-ref="menu" 
  class="menu pt-[80px]" 
  style="background: var(--brandColor);"
  x-init="$watch('activeSubmenu', value => {
    if (value) {
      document.querySelector('body').style.overflow = 'hidden';
    } else {
      document.querySelector('body').style.overflow = 'auto';
    }
  })"
  >
  {% for item in items %}
    {# regular menu item #}
    {% if not item.children %}
      <li data-item="{{loop.index}}" class="h-fit px-sm item {{- item.current ? ' current-menu-item text-hoverColor' }}">
        <a class="link text-body block no-underline text-white py-sm border-b border-white font-normal"  href="{{ item.link|e('esc_url') }}" {{ item.target == '_blank' ? 'target="_blank" rel="noopener noreferrer"' }}>
          {{ item.title }}
        </a>
      </li>
    {% endif %}
    {# menu with submenu item #}
    {% if item.children %}
      <li data-item="{{loop.index}}" class="h-fit item px-sm open-submenu {{- item.current ? ' current-menu-item text-hoverColor' }}" >
        <button @click="activeSubmenu = {{loop.index}}" 
          class="tab-control text-body w-full py-sm text-white border-b border-white link inline-block no-underline hover:text-hoverColor transition-all duration-200" 
          :class="{ 'open': activeSubmenu === {{loop.index}} }"
          >
          {{ item.title }}
        </button>
        <ul x-show="activeSubmenu === {{loop.index}}" x-cloak
            x-transition:enter="transition cubic-bezier(0.19, 1, 0.22, 1) duration-650" 
            x-transition:enter-start="opacity-0" 
            x-transition:enter-end="opacity-100" 
            x-transition:leave="transition cubic-bezier(0.19, 1, 0.22, 1) duration-650" 
            x-transition:leave-start="opacity-100" 
            x-transition:leave-end="opacity-0" 
            class="submenu fixed top-0 right-0 h-screen w-full pt-[80px] z-50 translate-x-full" style="background: var(--brandColor);"
            :class="{ 'open': activeSubmenu === {{loop.index}} }">
            <div class="text-white py-sm flex flex-row border-b border-white">
              <span @click="activeSubmenu = false" class="px-xs w-1/4">
              {% include 'Components/_Atoms/icon.twig' with {
                icon: 'arrow-back-menu',
                height: 'h-[40px]',
                width: 'w-[40px]',
              } %}
              </span>
              <span class="body px-sm flex items-center justify-center w-2/4 text-center">{{ item.title }}</span>
            </div>
          {% for subitem in item.children %}
            <li class="h-fit px-sm item {{- subitem.current ? ' current-menu-item text-hoverColor' }} {{ subitem.classes|join(' ') }}">
              <a class="link text-body w-full py-sm text-white font-normal border-b border-white inline-block no-underline text-currentColor transition-all duration-200" data-ref="menuButton" href="{{ subitem.link|e('esc_url') }}">{{ subitem.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endif %}
  {% endfor %}
  <div class="absolute bottom-0 left-0 w-full p-sm flex justify-center">
    <a
      class="button button--accent"
      href="{{ ctaLink.url }}"
      {% if ctaLink.target %} target="{{ ctaLink.target }}" rel="noreferrer noopener"{% endif %}
    >
      {{ ctaLink.title|e }}
    </a>
  </div>
</ul>
