<ul 
  x-data="{ activeSubmenu:  '' }" 
  data-ref="menu" 
  class="menu container bg-accentColor flex flex-col gap-[22px] justify-center h-screen max-h[100dvh]"
  x-init="$watch('activeSubmenu', value => {
    if (value) {
      document.querySelector('body').style.overflow = 'hidden';
    } else {
      document.querySelector('body').style.overflow = 'auto';
    }
  })"
  >
  {% for item in items %}
    {# regular menu item #}
    {% if not item.children %}
      <li data-item="{{loop.index}}" class="h-fit item text-hoverColor">
        <a class="font-titleLarge mb-0 inline-block no-underline after-marker after-marker--closer after-marker--small after-marker--hoverColor hover:after-marker-active {{- item.current ? ' current-menu-item' }}"
            href="{{ item.link|e('esc_url') }}"
            {{ item.target == '_blank' ? 'target="_blank" rel="noopener noreferrer"' }}>
          {{ item.title }}
        </a>
      </li>
    {% endif %}
    {# menu with submenu item #}
    {% if item.children %}
      <li data-item="{{loop.index}}" class="h-fit item px-sm open-submenu {{- item.current ? ' current-menu-item text-hoverColor' }}" >
        <button @click="activeSubmenu = {{loop.index}}" 
          class="tab-control text-body w-full py-sm text-bgColor border-b border-bgColor link inline-block no-underline hover:text-hoverColor transition-all duration-200" 
          :class="{ 'open': activeSubmenu === {{loop.index}} }"
          >
          {{ item.title }}
        </button>
        <ul x-show="activeSubmenu === {{loop.index}}" x-cloak
            x-transition:enter="transition cubic-bezier(0.19, 1, 0.22, 1) duration-650" 
            x-transition:enter-start="opacity-0" 
            x-transition:enter-end="opacity-100" 
            x-transition:leave="transition cubic-bezier(0.19, 1, 0.22, 1) duration-650" 
            x-transition:leave-start="opacity-100" 
            x-transition:leave-end="opacity-0" 
            class="submenu fixed top-0 right-0 h-screen max-h[100dvh] w-full pt-[80px] z-50 translate-x-full" style="background: var(--brandColor);"
            :class="{ 'open': activeSubmenu === {{loop.index}} }">
            <div class="text-bgColor py-sm flex flex-row border-b border-bgColor">
              <span @click="activeSubmenu = false" class="px-xs w-1/4">
              {% include 'Components/_Atoms/icon.twig' with {
                icon: 'arrow-back-menu',
                height: 'h-[40px]',
                width: 'w-[40px]',
              } %}
              </span>
              <span class="body px-sm flex items-center justify-center w-2/4 text-center">{{ item.title }}</span>
            </div>
          {% for subitem in item.children %}
            <li class="h-fit px-sm item {{- subitem.current ? ' current-menu-item text-hoverColor' }} {{ subitem.classes|join(' ') }}">
              <a class="link text-body w-full py-sm text-bgColor font-normal border-b border-bgColor inline-block no-underline text-currentColor transition-all duration-200" data-ref="menuButton" href="{{ subitem.link|e('esc_url') }}">{{ subitem.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endif %}
  {% endfor %}
  {% if social %}
      <div class="absolute bottom-sm flex-col gap-xs basis-0 w-full social">
        {% if socialMediaTitle %}
          <div class="caption font-bold">{{ socialMediaTitle }}</div>
        {% endif %}
        <div class="flex flex-row gap-[5px]">
          {% for socials in social %}
            <a class="socialList-link" href="{{ socials.url }}" target="_blank" aria-label="{{ socials.platform.label }}">
              {% include 'Components/_Atoms/icon.twig'
              with {
                icon: socials.platform.label|lower ~ '-white',
                color: 'text-[#ffffff]',
                iconClasses: 'bg-brandColor',
              }
              %}
            </a>
          {% endfor %}
        </div>
      </div>
    {% endif %}
    {% if image %}
      <img
        class="absolute bottom-sm right-sm w-xxl h-auto"
        src="{{ image.src|resize(32) }}"
        srcset="{{ function('wp_get_attachment_image_srcset', image.id) }}"
        alt="{{ image.alt|e }}"
      />
    {% endif %}
</ul>