<div class="md:hidden bg-white sm:container-grid max-h-full md:max-h-[unset] overflow-y-auto">
    <div class="md:block col-span-6 px-sm pt-lg mb-lg sm:col-start-5 sm:col-end-9 ">
        <h2 class="font-pageTitle mb-5">{{ post.title }}</h1>
        <p class="font-sectionTitle mb-md">{{ post.function }}</p>
        <p class="font-smallParagraph">{{ post.biography }}</p>
    </div>
    <div class="col-span-6 sm:col-span-3 sm:row-start-1 sm:mt-lg rounded-t-[2em] sm:rounded-b-[2rem] overflow-hidden aspect-[0.75]">
        <img class="h-full w-full lazyload object-cover transition duration-200 ease-linear" 
        src="{{ post.thumbnail.src|resize(32) }}" 
        data-srcset="{{ function('wp_get_attachment_image_srcset', post.thumbnail.id) }}" 
        data-sizes="auto" 
        data-src="{{ post.thumbnail.src }}" 
        alt="{{ post.thumbnail.alt|e }}" />
    </div>
</div>

<div class="hidden md:block w-[73.75rem] h-[38.8rem] relative">
    <div class="absolute w-[45%] left-0 top-0 h-full mr-[55%] rounded-l-[2rem] overflow-hidden">
        <img class="h-full w-full lazyload object-cover transition duration-200 ease-linear" 
        src="{{ post.thumbnail.src|resize(32) }}" 
        data-srcset="{{ function('wp_get_attachment_image_srcset', post.thumbnail.id) }}" 
        data-sizes="auto" 
        data-src="{{ post.thumbnail.src }}" 
        alt="{{ post.thumbnail.alt|e }}" />
    </div>
    <div class="block h-full w-[59%] overflow-y-auto absolute top-0 right-0 bg-white pl-lg pr-xl rounded-[2rem] no-scrollbar">
       <div class="px-sm pt-lg mb-lg">
        <h2 class="font-pageTitle mb-5">{{ post.title }}</h1>
        <p class="font-sectionTitle mb-md">{{ post.function }}</p>
        <p class="font-smallParagraph">{{ post.biography }}</p>
       </div>
    </div>
</div>