<a class="logo logo_light no-underline flex align-middle justify-start shrink-0 h-full w-fit logo" href="{{ site.link }}">
  <img class="logo-image h-auto w-[200px] lg:w-[250px]" src="{{ logo.src }}" alt="{{ logo.alt }}">
</a>
<a class="logo logo_dark no-underline align-middle justify-start shrink-0 h-full w-fit logo hidden" href="{{ site.link }}">
  <img class="logo-image h-auto w-[200px] lg:w-[250px]" src="{{ logo_dark.src }}" alt="{{ logo.alt }}">
</a>
