<ul
  x-data="{ activeSubmenu: 0 }"
  class="menu grow list-none flex flex-row align-top gap-sm lg:gap-md justify-between w-1/2 h-fit"
  x-init="$watch('activeSubmenu', value => {
    if (value) {
      document.querySelector('#blur-overlay').style.display = 'block';
      document.querySelector('body').style.overflow = 'hidden';
    } else {
      document.querySelector('#blur-overlay').style.display = 'none';
      document.querySelector('body').style.overflow = 'auto';
    }
  })"
  :class="{
    'text-white': activeSubmenu > 0,
  }" 
>
  {% for item in items %}
    {# regular menu item #}
    {% if not item.children %}
      <li data-item="{{loop.index}}" class="h-fit item {{- item.current ? ' current-menu-item' }}">
        <a 
          class="text-button font-bold 
          link inline-block 
          no-underline text-currentColor 
          hover:text-green underline-offset-4 
          text-currentColor 
          transition-all duration-200 
          relative z-[9999]" 
          href="{{ item.link }}" {{ item.target == '_blank' ? 'target="_blank" rel="noopener noreferrer"' }}>
          {{ item.title }}
        </a>
      </li>
    {% endif %}
    {# menu with submenu item #}
    {% if item.children %}
      <li data-item="{{loop.index}}" class="h-fit item open-submenu {{- item.current ? ' current-menu-item' }}" >
        <button
          @click="activeSubmenu === {{loop.index}} ? activeSubmenu = 0 : activeSubmenu = {{loop.index}}"
          class="
          tab-control text-button font-bold link inline-block
          hover:text-green no-underline underline-offset-4 
          transition-all duration-200 relative z-[9999]" 
          :class="{
            'open': activeSubmenu === {{loop.index}},
            'underline': activeSubmenu === {{loop.index}},
          }" 
          >
          {{ item.title }}
        </button>
        <div
          x-cloak 
          x-show="activeSubmenu === {{loop.index}}" 
          x-transition:enter="transition cubic-bezier(0.19, 1, 0.22, 1) duration-800" 
          x-transition:enter-start="opacity-0" 
          x-transition:enter-end="opacity-100" 
          x-transition:leave="transition cubic-bezier(0.19, 1, 0.22, 1) duration-800" 
          x-transition:leave-start="opacity-100" 
          x-transition:leave-end="opacity-0" 
          class="submenu-wrapper absolute lg:-top-[55px] xl:-top-[47px] right-0 h-screen w-[calc(100%_+_75px)] z-50 drop-shadow-lg"
          :class="{ 'open': activeSubmenu === {{loop.index}} }"
          {# @click.away="activeSubmenu = 0" #}
        >
          <ul
            class="submenu rounded-l-[30px] h-full pt-xxl pr-md pb-auto pl-lg"
            style="background: var(--secondary);"
          >
            {% for subitem in item.children %}
              <li class="h-fit mb-sm item {{- subitem.current ? ' current-menu-item' }} {{ subitem.classes|join(' ') }}">
                <a
                  class="
                    link titleSmall font-normal inline-block no-underline 
                    decoration-white decoration-4 underline-offset-8 
                    text-currentColor hover:text-green
                    transition-all duration-200
                    opacity-0
                  "
                  href="{{ subitem.link }}"
                  :class="{ 'opacity-100': activeSubmenu === {{loop.parent.loop.index}} }"
                >
                  {{ subitem.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </li>
    {% endif %}
  {% endfor %}
  <div
    @click="activeSubmenu = 0"
    id="blur-overlay"
    class="fixed w-screen h-screen top-0 left-0 backdrop-blur-md z-20"
    style="display: none;"
  ></div>
</ul>
