 <h2 class="subtitle block-title font-bold {{ blockTitleClasses }}" style="color: {{ blockTitleColor }};">{{ blockTitle }}</h2>
 {# <h2 class="subtitle block-title font-bold {{ blockTitleClasses }}" style="color:{% if options.colorSecondary %}{{ options.colorSecondary }}{% else %}{{ blockTitleColor }}{% endif %};">{{ blockTitle }}</h2> #}
