{% import "Components/_Atoms/Titles/title/macro.twig" as h %}

<flynt-component class="w-full bg-accentColor" load:on="idle" name="BlockPartners" {{ options.navStyle ? 'data-navStyle="' ~ options.navStyle ~ '"' }}>
  <script type="application/json">{{ jsonData|json_encode }}</script>
  <div class="container mx-auto flex flex-col gap-md text-bgColor sm:py-[68px] sm:items-center sm:flex-row sm:justify-between xxl:py-[104px] wide:py-[107px]">
    {% if blockTitle %}
      <div class="sm:w-1/3">
        {{ h.h(blockTitle, { level: 3, class: 'text-bgColor mb-0' }) }}
      </div>
    {% endif %}
      {% if partnerlogos %}
        <div class="w-full flex items-stretch justify-center sm:justify-end gap-sm sm:gap-md xxl:gap-[88px] wide:gap-[148px]">
          {% for partner in partnerlogos %}
          {% set styles = [] %}
          {% set stylesXxl = [] %}
          {% if partner.basis %}
            {% set flexBasis = partner.basis %}
            {% set flexBasisXxl = partner.basisXxl %}
          {% endif %}
          {% if partner.basis %}
            {% set styles = styles|merge(['flex-basis:' ~ flexBasis ~ 'px']) %}
            {% set stylesXxl = styles|merge(['flex-basis:' ~ flexBasisXxl ~ 'px']) %}
          {% endif %}
          <div class="flex items-center py-xs md:shrink-0 xxl:hidden"
            {% if styles is not empty %}
              style="
                {% for style in styles %}
                  {{ style }};
                {% endfor %}
              "
            {% endif %}
            >
            <img class="lazyload"
              src="{{ partner.image.src | resize(32) }}"
              data-srcset="{{function('wp_get_attachment_image_srcset', partner.image.id)}}"
              data-sizes="auto"
              alt="{{ partner.image.alt }}">
          </div>
          <div class="hidden xxl:flex items-center py-xs md:shrink-0 xxl:py-0"
            {% if stylesXxl is not empty %}
              style="
                {% for style in stylesXxl %}
                  {{ style }};
                {% endfor %}
              "
            {% endif %}
            >
            <img class="lazyload"
              src="{{ partner.image.src | resize(32) }}"
              data-srcset="{{function('wp_get_attachment_image_srcset', partner.image.id)}}"
              data-sizes="auto"
              alt="{{ partner.image.alt }}">
          </div>
          {% if not loop.last %}
          <div class="border-s-1"></div>
          {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</flynt-component>
