<flynt-component
  load:on="idle"
  name="BlockListingRegions"
  class="bg-bgColor text-textColor {% if options.colorText|hex_to_rgb|reduce((carry, v) => carry + v) >= 50 %}dark{% endif %}"
  style="
    {% if options.colorBackground %} --bgColor: {{ options.colorBackground }}; {% endif %}
    {% if options.colorText %} --textColor: {{ options.colorText }};{% endif %}
    {% if options.colorText|hex_to_rgb|reduce((carry, v) => carry + v) >= 50 %} --hoverColor: var(--white);{% endif %}
  "
  {{ options.navStyle ? 'data-navStyle="' ~ options.navStyle ~ '"' }}
>
  <div
    x-data="{ 
      activeRegion: 1, 
      regions: [
        {% for item in regions %}
          {  
            'index': {{ loop.index }},
            'countries': [
              {{ item.countries | slice(1, -1) | replace({'"': "'"}) }}
            ],
          }{{ loop.last ? '' : ',' }}
        {% endfor %}
      ] 
    }" 
    class="max-w-screen-max w-full mx-auto px-sm py-md md:p-md lg:p-lg">
    
    <!-- Prev/Next Arrows Mobile -->
    <div class="button-wrapper absolute right-sm md:right-md top-[22px] md:top-md flex lg:hidden align-middle justify-end z-50">
      <button 
        type="button" 
        data-ref="prev"
        class="slider-button slider-button--prev" 
        @click="activeRegion = activeRegion === 1 ? 1 : activeRegion - 1">
        <svg width="41" height="30" viewBox="0 0 41 30" fill="none">
          <path :class="{ 'opacity-30': activeRegion === 1 }" class="fill-current" d="M4.93801 13.9393C4.35222 14.5251 4.35222 15.4749 4.93801 16.0607L14.4839 25.6066C15.0697 26.1924 16.0195 26.1924 16.6053 25.6066C17.1911 25.0208 17.1911 24.0711 16.6053 23.4853L8.11999 15L16.6053 6.51472C17.1911 5.92893 17.1911 4.97918 16.6053 4.3934C16.0195 3.80761 15.0697 3.80761 14.484 4.3934L4.93801 13.9393ZM35.3438 13.5L5.99867 13.5L5.99867 16.5L35.3437 16.5L35.3438 13.5Z" />
        </svg>
      </button>
      <button 
        type="button" 
        data-ref="next" 
        class="slider-button slider-button--next" 
        @click="activeRegion = activeRegion === regions.length ? regions.length : activeRegion + 1">
        <svg width="40" height="30" viewBox="0 0 40 30" fill="none">
          <path :class="{ 'opacity-30': activeRegion === regions.length }" class="fill-current" d="M35.4331 16.0607C36.0189 15.4749 36.0189 14.5251 35.4331 13.9393L25.8871 4.3934C25.3014 3.80761 24.3516 3.80761 23.7658 4.3934C23.18 4.97919 23.18 5.92893 23.7658 6.51472L32.2511 15L23.7658 23.4853C23.18 24.0711 23.18 25.0208 23.7658 25.6066C24.3516 26.1924 25.3014 26.1924 25.8871 25.6066L35.4331 16.0607ZM5.02734 16.5L34.3724 16.5L34.3724 13.5L5.02734 13.5L5.02734 16.5Z"/>
        </svg>
      </button>
    </div>

    <div
      class="max-w-screen-max w-full mx-auto flex flex-col xs:flex-row gap-lg justify-between items-start fade-in move-up">

      <div {{ globalTheme ? 'data-theme="' ~ globalTheme ~ '"' }} class="w-full xs:w-1/2 cbe:sm:w-2/3 cbg:sm:w-3/5 cbg:md:w-2/3 cbe:lg:w-3/4 flex flex-col justify-center items-center mx-auto relative"
        style="
          {% if options.colorBackground %} --bgColor: {{ options.colorBackground }}; {% endif %}
          {% if options.colorText %} --textColor: {{ options.colorText }};{% endif %}
          {% if options.colorText|hex_to_rgb|reduce((carry, v) => carry + v) >= 50 %} --hoverColor: var(--white);{% endif %}
        ">
        <div class="w-full mx-auto pb-sm lg:pb-lg flex flex-col gap-sm justify-between align-start items-start content-start">
          {% if blockTitle %}
            {% include 'Components/_Atoms/Titles/blockTitle.twig' 
              with {
                blockTitleClasses: 'w-2/3 xs:w-full',
                blockTitleColor: 'var(--textColor)',
                blockTitle: blockTitle
              }
            %}
          {% endif %}
          {% if regions|length > 1 %}
          {% if labels.regionTabsTitle %}
            <span class="sm:hidden font-caption font-bold pt-md -mb-xs basis-full"> {{ labels.regionTabsTitle }} </span>
          {% endif %}
            <div class="buttons w-full sm:pt-md inline-flex sm:flex-wrap overflow-x-auto">
              {% if labels.regionTabsTitle %}
                <span class="hidden sm:block font-caption font-bold pb-sm basis-full"> {{ labels.regionTabsTitle }} </span>
              {% endif %}
              {% for index, item in regions %}
                <button 
                  :class="{'!bg-hoverColor !text-bgColor' : activeRegion == {{ index + 1 }} }" 
                  class="whitespace-nowrap link button button--card mr-xs mb-xs"
                  @click="activeRegion = {{ index + 1 }}">
                    {{ item.name}}
                  </button>
              {% endfor %}
            </div>
          {% endif %}
        </div>
        <div id="regionsMapWrapper" :data-region="regions[activeRegion - 1].countries" class="w-full hidden sm:flex sm:flex-col justify-center items-center mx-auto relative">
          <div data-ref="mapWrapper" class="w-full h-auto aspect-video" id="dottedMap"></div>
          <div data-ref="mapWrapper" class="w-full h-auto aspect-video absolute" id="regionsMap"></div>
        </div>
      </div>

      <div
      {{ globalTheme ? 'data-theme="' ~ globalTheme ~ '"' }}
        class="w-full xs:w-1/2 cbe:sm:w-1/3 cbg:sm:w-2/5 cbg:md:w-1/3 cbe:lg:w-1/4 mx-auto relative xs:pt-[76px] xs:mt-sm"
        style="
          {% if options.colorBackground %} --bgColor: {{ options.colorBackground }}; {% endif %}
          {% if options.colorText %} --textColor: {{ options.colorText }};{% endif %}
          {% if options.colorText|hex_to_rgb|reduce((carry, v) => carry + v) >= 50 %} --hoverColor: var(--white);{% endif %}
        ">
      >
        <!-- Prev/Next Arrows Desktop -->
        <div class="button-wrapper absolute right-sm sm:right-0 hidden lg:flex align-middle justify-end z-50 lg:-translate-y-[91px]">
          <button 
            type="button" 
            data-ref="prev"
            :class="{ 'cursor-default': activeRegion === 1 }"
            class="slider-button slider-button--prev"
            @click="activeRegion = activeRegion === 1 ? 1 : activeRegion - 1">
            <svg width="40" height="30" viewBox="0 0 40 30" fill="none">
              <path :class="{ 'opacity-30': activeRegion === 1 }" class="fill-current"  d="M3.93801 13.9393C3.35222 14.5251 3.35222 15.4749 3.93801 16.0607L13.4839 25.6066C14.0697 26.1924 15.0195 26.1924 15.6053 25.6066C16.1911 25.0208 16.1911 24.0711 15.6053 23.4853L7.11999 15L15.6053 6.51472C16.1911 5.92893 16.1911 4.97918 15.6053 4.3934C15.0195 3.80761 14.0697 3.80761 13.484 4.3934L3.93801 13.9393ZM34.3438 13.5L4.99867 13.5L4.99867 16.5L34.3437 16.5L34.3438 13.5Z" />
            </svg>
          </button>
          <button 
            type="button" 
            data-ref="next" 
            :class="{ 'cursor-default': activeRegion === regions.length }"
            class="slider-button slider-button--next" 
            @click="activeRegion = activeRegion === regions.length ? regions.length : activeRegion + 1">
              <svg class="transform scale-x-[-1]" width="40" height="30" viewbox="0 0 40 30" fill="none">
                <path :class="{ 'opacity-30': activeRegion === regions.length }" class="fill-current" d="M3.93801 13.9393C3.35222 14.5251 3.35222 15.4749 3.93801 16.0607L13.4839 25.6066C14.0697 26.1924 15.0195 26.1924 15.6053 25.6066C16.1911 25.0208 16.1911 24.0711 15.6053 23.4853L7.11999 15L15.6053 6.51472C16.1911 5.92893 16.1911 4.97918 15.6053 4.3934C15.0195 3.80761 14.0697 3.80761 13.484 4.3934L3.93801 13.9393ZM34.3438 13.5L4.99867 13.5L4.99867 16.5L34.3437 16.5L34.3438 13.5Z"/>
              </svg>
          </button>
        </div>
        <!-- Regions -->
        <ul class="region-list overflow-hidden w-100 h-100" 
          x-for="(region, index) in regions" 
          :key="region.index">
            {% for post in regions %}
              <div
                x-cloak 
                data-item="{{loop.index}}"
                class="region w-full absolute flex items-start transition cubic-bezier(0.19, 1, 0.22, 1) duration-100 opacity-0" 
                :class="{ 'active !opacity-100 z-50 ': activeRegion === {{loop.index}} }"
                >
                  {% include 'Components/_Atoms/Cards/region.twig' with { 'post': post, 'labels': labels } only %}
              </div>
            {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</flynt-component>
