{% import "Components/_Containers/GridElement.twig" as ge %}
{% import "Components/_Atoms/Titles/title/macro.twig" as h %}

{% set componentOptions = {
    name: 'BlockOembed',
    loadOn: 'visible',
} %}

{% set oembedContent %}
  <div data-ref="embed" data-videomode="{{ videoMode }}" class="relative">
    {{ oembed|raw }}

    {% if videoMode == 'on' %}
      <div data-ref="poster" class="video-content absolute top-0 left-0 w-full h-full flex flex-col justify-center items-center bg-brandColor">
        {% if posterImage.src %}
          <img
            class="image lazyload anim-fade-in object-cover w-full h-full"
            src="{{ posterImage.src | resize(32) }}"
            width="768" 
            height="{{ (768 / posterImage.aspect) | round }}"
            data-srcset="{{ function('wp_get_attachment_image_srcset', posterImage.id) }}"
            data-sizes="auto"
            alt="{{ posterImage.alt|e }}"
          />
        {% endif %}
        <button
          data-ref="playButton"
          class="video-playButton button button--accent aspect-square !p-sm !absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
          type="button"
          aria-label="{{ labels.playButtonText }}"
        >
          <div class="playButton relative w-[40px] h-[40px]">
            <span data-ref="playIcon" class="absolute top-0 left-[8px] w-0 h-0 border-t-[20px] border-t-transparent border-l-[30px] border-l-white border-b-[20px] border-b-transparent"></span>
          </div>
          <div
            role="status"
            data-ref="loadingSpinner"
            class="absolute loading-spinner w-[40px] h-[40px] rounded-full border-white border-4 border-t-0 border-r-0 animate-spin"
            style="opacity: 0;"
          >
            <span class="sr-only">Loading...</span>
          </div>
        </button>
      </div>
    {% endif %}
  </div>
{% endset %}

{% set textContent %}
  <div class="pl-container">

    {% if blockTitle %}
      {{ h.h(blockTitle, { level: 2, class: '' }) }}
    {% endif %}

    {% if contentHtml %}
      <div class="wysiwyg">
        {{ contentHtml|e('wp_kses_post') }}
      </div>
    {% endif %}
  </div>
{% endset %}

{% set content %}
  <div class="container mx-auto grid grid-cols-6 sm:grid-cols-12 md:grid-cols-12 gap-sm">
    {{ ge.GridElement(textContent, {
        'cols': {
          'mobile': { 'start': 1, 'end': 5 },
          'tablet': { 'start': 1, 'end': 6 },
          'desktop': { 'start': 1, 'end': 5 },
          'wide': { 'start': 1, 'end': 5 },
        },
        'class': '',
    }) }}

    {{ ge.GridElement(oembedContent, {
        'cols': {
          'mobile': { 'start': 1, 'end': 6 },
          'tablet': { 'start': 7, 'end': 12 },
          'desktop': { 'start': 6, 'end': 12 },
          'wide': { 'start': 6, 'end': 12 },
        },
        'class': 'relative wysiwyg',
    }) }}
  </div>
{% endset %}

{% include 'Components/_Containers/FlyntComponent.twig' with {
    content: content,
    componentOptions: componentOptions
} %}
