<!DOCTYPE html>
<html class="html {{ body_class }}" {{ site.language_attributes }} id="theTop">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="alternate" type="application/rss+xml" title="{{- theme.labels.feed|replace({'%s': site.title}) -}}" href="{{ site.rss2|e('esc_url') }}">
    {{ function('wp_head') }}
  </head>
  <body>
    {{ function('wp_body_open') }}
    {% block layout %}
      <div class="pageWrapper env_badge env_{{function('wp_get_environment_type')}}">
        <header class="donationHeader">
         <a href="#mainContent" class="visuallyHidden visuallyHidden-focusable">
          {{- theme.labels.skipToMainContent|e -}}
        </a>
          {% block header %}
            {{ renderComponent('DonationHeader') }}
          {% endblock %}
        </header>
        <main id="mainContent" class="mainContent" aria-label="{{- theme.labels.mainContentAriaLabel|e -}}">
          {% if function('post_password_required') %}
            {{ function('get_the_password_form') }}
          {% else %}
            {% block content %}
              No <code>{{ '{% block content %}' }}</code> defined for this template.
            {% endblock %}
          {% endif %}
        </main>
        <footer class="mainFooter">
          {% block footer %}
            {{ renderComponent('DonationFooter') }}
            {{ renderComponent('DonationNavigationFooterLinklist') }}
            {{ renderComponent('DonationNavigationFooter') }}
          {% endblock %}
        </footer>
        <div class="wpFooter">{{ function('wp_footer') }}</div>
      </div>
    {% endblock %}
  </body>
</html>
