{% extends 'templates/_document.twig' %}

{% block content %}
  <article class="post w-full"
    data-ref="pin"
    data-latitude="{{ post.latitude }}" 
    data-longitude="{{ post.longitude }}">
    <header class="post-header">
      {{ renderComponent('ElementProjectHeader', { post: post }) }}
    </header>
    <section class="post-main max-w-screen-max mx-auto p-sm sm:p-md md:p-lg flex flex-col xs:flex-row-reverse gap-md xs:gap-sm lg:gap-md justify-between items-start">
      <div class="w-full xs:w-1/2 sm:w-1/2 mdLarge:w-1/3 lg:w-1/3 flex flex-col sm:flex-row lg:flex-col gap-md lg:gap-lg">
        {{ renderComponent('ElementProjectBox', { post: post }) }}
      </div>
      <div class="w-full xs:w-1/2 sm:w-1/2 mdLarge:w-2/3 lg:w-2/3">
        {% if post.intro %}
          <div class="subtitle">{{ post.intro }}</div>
        {% endif %}
        {% for component in post.meta('projectComponents') %}
          {{ renderComponent(component) }}
        {% endfor %}
      {{ renderComponent('BlockCta') }}
      </div>
    </section>
    <section class="post-related">
      {{ renderComponent('BlockRelatedInsights', {'blockTitle': __('Related Insights')}) }}
      {{ renderComponent('BlockRelatedProjects', {'blockTitle': __('Related Projects')}) }}
      {# {% for component in post.meta('relatedProjectComponents') %}
        {{ renderComponent(component) }}
      {% endfor %} #}
    </section>
  </article>
{% endblock %}
