{% extends 'templates/_document.twig' %}

{% block content %}
  <article class="
    post mt-navBar 
    w-full max-w-screen-max mx-auto 
    px-sm lg:px-lg "
    data-navStyle="light-blur"
    >
    <section class="flex flex-col">
      <section class="post-header">
        {{ renderComponent('BlockPostHeader', { post: post }) }}
      </section>
      <section class="post-main">
        {% if post.post_excerpt %}
          <div class="block sm:hidden w-full">
            <div class="text-subtitleMobile sm:text-subtitleMobile">{{ post.post_excerpt }}</div>
          </div>
        {% endif %}
        {% for component in post.meta('postComponents') %}
          {{ renderComponent(component) }}
        {% endfor %}
      </section>
      <section class="wp-block-post-content has-global-padding is-layout-constrained">
        {{ post.content }}
      </section>
    </section>
    <footer class="post-meta">
      {{ renderComponent('BlockPostFooter', { post: post }) }}
    </footer>
  </article>
{% endblock %}
