{% extends 'templates/_document.twig' %}

{% block content %}
  <article class="post w-full"
    data-ref="pin"
    data-latitude="{{ post.latitude }}" 
    data-longitude="{{ post.longitude }}">
    <header class="post-header">
      {{ renderComponent('BlockProjectHeader', { post: post }) }}
    </header>
    <section class="post-main max-w-screen-xl mx-auto p-sm sm:p-md md:p-lg flex flex-col lg:flex-row-reverse gap-lg justify-between items-start">
      {{ renderComponent('BlockProjectBox', { post: post }) }}
      <div class="max-w-screen-md">
        {% if post.intro %}
          <div class="h3">{{ post.intro }}</div>
        {% endif %}
        {% for component in post.meta('projectComponents') %}
          {{ renderComponent(component) }}
        {% endfor %}
      </div>
    </section>
    <section class="post-related">
      {{ renderComponent('ListingProjects,', {'preContentHtml': '<h2>' ~ __('Related Posts') ~ '</h2>','taxonomies': post.categories(), 'options': {'maxPosts': 3}}) }}
    </section>
  </article>
{% endblock %}
