<flynt-component
  class="flyntComponent {{ options.theme }} block" 
  style="--themeBrand_colorBackground: {{ options.colorBrandBackground }}; --themeBrand_colorText: {{ options.colorBrandText }};" 
  is="flynt-hero-image-text"
  name="HeroImageText"
>
  <picture class="picture">
    <source srcset="
      {{function('wp_get_attachment_image_srcset', images.imageDesktop.id)}}"
      media="(min-width: 768px)"
      sizes="100vw">
    <img class="image parallax-hero-text object-cover"
      srcset="
        {{function('wp_get_attachment_image_srcset', images.imageMobile.id)}}"
      src="{{ images.imageMobile.src | resize(32) }}"
      sizes="100vw"
      data-object-fit="cover"
      alt="{{ images.imageDesktop.alt|e }}">
      {% if images.imageDesktop.caption %}
        <figcaption class="figure-caption">{{ images.imageDesktop.caption|e }}</figcaption>
      {% endif %}
  </picture>
  <div class="content" style="padding: {{ options.paddingTopBottom }} {{ options.paddingLeftRight }}; padding-bottom: {{ options.paddingTopBottom }})">
    {% if not fn('is_front_page') %}
      <h1 class="title h3 font-normal" style="top: max(20rem, min(calc(var(--padding_xxlarge)), calc(100vh - 32vw)));">{{ post.title }}</h1>
    {% endif %}
    <div class="content-inner">
      <h4 class="title-big line-1">
        {{ line1|wp_kses_custom }}
      </h4>
      <h4 class="title-big line-2">
        {{ line2|wp_kses_custom }}
      </h4>
    </div>
  </div>
  {% if lottie.lottieAnimationLink and showLottieAnimation %}
    <a class="hover:opacity-100" href="{{ lottie.pageLink.url }}" >
      <div class="lottieWrapper w-[130vw] sm:w-[110vw] md:w-[50vw] h-[130vw] sm:h-[110vw] md:h-[50vw] absolute right-[-30vw] md:right-0 bottom-[-10vw] sm:bottom-[-20vw] md:bottom-0 group cursor-pointer" aria-label="{{ lottie.ariaLabel }}">
        <lottie-player
          class="lottieAnimation w-full h-full"
          src="{{ lottie.lottieAnimationLink }}"
          speed="1"
        ></lottie-player>
      </div>
    </a>
  {% endif %}
</flynt-component>
