<div class="flyntComponent {{ options.theme }}" style="--themeBrand_colorBackground: {{ options.colorBrandBackground }}; --themeBrand_colorText: {{ options.colorBrandText }};" is="flynt-hero-image-text">
  <picture class="picture">
    <source srcset="
      {{function('wp_get_attachment_image_srcset', images.imageDesktop.id)}}"
      media="(min-width: 768px)"
      sizes="100vw">
    <img class="image parallax-hero-text"
      srcset="
        {{function('wp_get_attachment_image_srcset', images.imageMobile.id)}}"
      src="{{ images.imageMobile.src | resize(32) }}"
      sizes="100vw"
      data-object-fit="cover"
      alt="{{ images.imageDesktop.alt|e }}">
      {% if images.imageDesktop.caption %}
        <figcaption class="figure-caption">{{ images.imageDesktop.caption|e }}</figcaption>
      {% endif %}
  </picture>
  <div class="content" style="padding: {{ options.paddingTopBottom }} {{ options.paddingLeftRight }}; padding-bottom: {{ options.paddingTopBottom }})">
    {% if post.title != "Home" and post.title != "Home EN" and post.title != "SOS Humanity" %}
      <h1 class="title h3" style="top: max(20rem, min(calc(var(--padding_xxlarge)), calc(100vh - 32vw)));">{{ post.title }}</h1>
    {% endif %}
    <div class="content-inner">
      <h4 class="title-big line-1">
        {{ line1|wp_kses_custom }}
      </h4>
      <h4 class="title-big line-2">
        {{ line2|wp_kses_custom }}
      </h4>
    </div>
  </div>
</div>
