<flynt-component
  load:on="idle"
  name="HeroIllustrationLottie"
  lass="bg-bgColor text-textColor"
  style="
    {% if options.colorBackground %} --bgColor: {{ options.colorBackground }}; {% endif %}
    {% if options.colorText %} --textColor: {{ options.colorText }};{% endif %}
  "
  {{ options.navStyle ? 'data-navStyle="' ~ options.navStyle ~ '"' }}
>
  <div class="max-w-screen-max w-full mx-auto p-sm lg:p-lg">
    {% if blockTitle %}
      <div class="max-w-screen-max w-full mx-auto pb-sm lg:pb-lg flex flex-row justify-between align-bottom items-end content-end">
        {% include 'Components/_Atoms/Titles/blockTitle.twig' with {
            blockTitle: blockTitle,
            blockTitleColor: options.colorSecondary ?? 'var(--bgColor)'
        } %}
      </div>
    {% endif %}
    <div class="max-w-screen-max mx-auto px-sm lg:px-lg h-full flex flex-col gap-xl sm:flex-row items-center sm:items-start justify-around p-lg sm:py-xl">
    {% for item in illustrations %}
      <div class="item w-full sm:w-1/3 max-w-[400px] flex flex-col gap-md sm:gap-lg justify-center items-center">
        {% if item.lottieAnimationLink %}
          <lottie-player class="lottieAnimation"  data-animationtype="{{ item.animationType }}" src="{{ item.lottieAnimationLink.url }}" speed="1" style="width: 200px; height: auto;"></lottie-player>
        {% endif %}
        {% if item.contentHtml %}
          <div class="wysiwyg">
            {{ item.contentHtml|e('wp_kses_post') }}
          </div>
        {% endif %}
      </div>
    {% endfor %}
    </div>
  </div>
</flynt-component>
