<flynt-component
  load:on="visible"
  name="HeroIllustrationLottie"
  class=""
  style="
    background-color: {% if options.colorBackground %}{{ options.colorBackground }}{% else %}var(--secondary){% endif %}; color:{% if options.colorText %}{{ options.colorText }}{% else %}var(--white){% endif %};
    color: {% if options.colorText %}{{ options.colorText }}{% else %}var(--white){% endif %};
    "
  {{ options.navStyle ? 'data-navStyle="' ~ options.navStyle ~ '"' }}
  >
  <div class="max-w-screen-max w-full mx-auto p-sm lg:p-lg">
    {% if blockTitle %}
      <div class="max-w-screen-max w-full mx-auto pb-sm lg:pb-lg flex flex-row justify-between align-bottom items-end content-end">
        <h2 class="subtitle !leading-subtitle block-title font-bold" style="color: {% if options.colorSecondary %}{{ options.colorSecondary }}{% else %}var(--white){% endif %};">{{ blockTitle }}</h2>
      </div>
    {% endif %}
    <div class="max-w-screen-max mx-auto px-sm lg:px-lg h-full flex flex-col gap-xl sm:flex-row items-center sm:items-start justify-around p-lg sm:py-xl">
    {% for item in illustrations %}
      <div class="item w-full sm:w-1/3 max-w-[400px] flex flex-col gap-md sm:gap-lg justify-center items-center">
        {% if item.lottieAnimationLink %}
          <lottie-player class="lottieAnimation"  data-animationtype="{{ item.animationType }}" src="{{ item.lottieAnimationLink.url }}" speed="1" style="width: 200px; height: auto;"></lottie-player>
        {% endif %}
        {% if item.contentHtml %}
          <div class="wysiwyg">
            {{ item.contentHtml|e('wp_kses_post') }}
          </div>
        {% endif %}
      </div>
    {% endfor %}
    </div>
  </div>
</flynt-component>
