<flynt-component client:visible name="HeroAnimation" class="bg-navygreen">
  <div class="w-screen h-screen relatuive">
    {% if blockTitle %}
    <div class="absolute top-0 left-0">
      <div class="max-w-screen-max mx-auto px-md py-md text-h4 text-black z-50">{{ blockTitle }}</div>
    </div>
    {% endif %}
    {% if lottieAnimationLink %}
    <lottie-player src="{{ lottieAnimationLink }}" background="#169b83" speed="1" style="width: 100%; height: 100%;" loop autoplay></lottie-player>
    {% endif %}
    {# {% if animation %}
      <img class="image lazyload max-h-full object-cover"
        src="{{ animation.src | resize(32) }}"
        data-srcset="{{function('wp_get_attachment_image_srcset', animation.id)}}"
        data-sizes="auto"
        data-src="{{ animation.src }}"
        alt="{{ animation.alt|e }}"
      >
    {% endif %} #}
    {# {% if animationFile %}
      <div>{{ animationFile }}</div>
    {% endif %} #}
  </div>
</flynt-component>
