{% import "Components/_Atoms/Titles/title/macro.twig" as h %}
{% import "Components/_Atoms/Button/macro.twig" as btn %}

<flynt-component
  load:on="visible"
  name="BlockScrollySlides"
  style="
    background-color: {% if options.colorBackground %}{{ options.colorBackground }}{% else %}var(--bgColor){% endif %};
    color: {% if options.colorText %}{{ options.colorText }}{% else %}var(--textColor){% endif %};
  "
  class="overflow-hidden"
  >
  <script type="application/json">{{ jsonData|json_encode }}</script>

    {% if slides %}
    <div
      class="slidesContainer md:pt-lg xxl:pt-md"
      style="background-color: {{slides[0].bgColor}}; color: {{slides[0].color}};"
      >
        {% set containerClassMap = {
          1: 'w-full py-lg',
          2: 'w-[calc(100%_-_240px)] ml-[48px] h-[calc(100vh_-_72px)]',
          3: 'w-[calc(100%_-_264px)] ml-[24px] h-[calc(100vh_-_72px)]',
        } %}
        {% set imageClassMap = {
          1: 'col-start-5 col-span-7 order-2 h-[calc(100vh_-_212px)] w-full object-contain object-center',
          2: 'col-start-1 col-span-6 order-1 self-start h-[calc(100vh_-_260px)] w-full object-contain object-left',
          3: 'col-start-8 col-span-5 order-2 self-start',
        } %}
        {% set textClassMap = {
          1: 'col-start-1 col-span-4 order-1 pr-sm bottom-0 self-end w-full overflow-hidden',
          2: 'col-start-8 col-span-5 order-2 self-start',
          3: 'col-start-1 col-span-5 order-1 self-start',
        } %}

        {% for slide in slides %}  
        <div
          class="container relative overflow-hidden
          grid items-center grid-cols-6 md:grid-cols-12
          gap-x-xs gap-y-[40px] xs:gap-x-sm xs:gap-y-[60px]
          {{ containerClassMap[loop.index] }}"
          style="background-color: {{slide.bgColor}}; color: {{slide.color}};"
          data-refs="slides"
        >
          <img class="image lazyload anim-fade-in {{ imageClassMap[loop.index] }}"
            src="{{ slide.image.src|resize(32) }}" 
            data-srcset="{{ function('wp_get_attachment_image_srcset', slide.image.id) }}" 
            data-sizes="auto" 
            data-src="{{ slide.image.src }}" 
            alt="{{ slide.image.alt|e }}"
          />
          <div class="wysiwyg anim-move-up {{ textClassMap[loop.index] }}">
            {{ slide.text|e('wp_kses_post') }}
          </div>
          {% if loop.index == 1 %}
            {% if blockTitle %}
                <div class="absolute left-lg top-0">
                  {{ h.h(blockTitle, { level: 3, class: 'mb-0' }) }}
                </div>
            {% endif %}
            {% if topImage %}
              <img
                class="absolute top-0 right-lg w-xxl h-auto"
                src="{{ topImage.src|resize(32) }}"
                srcset="{{ function('wp_get_attachment_image_srcset', topImage.id) }}"
                alt="{{ topImage.alt|e }}"
                />
            {% endif %}
          {% endif %}
          {% if content.ctaLink %}
            <div class="hidden md:block col-span-full text-right">
              {{ btn.buttonAnchor(content.ctaLink, {
                  class: 'ms-auto',
                  color: 'accent',
                  icon: true,
                })
              }}
            </div>
          {% endif %}
        </div>
        {% endfor %}
    </div>
  {% endif %}
  </div>
</flynt-component>