<flynt-component 
  load:on="visible" 
  name="BlockInsightHeader" 
  class="w-full mx-auto flex flex-col sm:flex-row gap-lg" 
  data-navStyle="light-blur">
  {# Left Column #}
  <section class="w-full sm:w-2/3 flex flex-col gap-lg">
    {% if post.thumbnail %}
      <div class="featuredImage w-full">
        <img class="figure-image lazyload h-full w-full object-cover aspect-video"
          src="{{ post.thumbnail.src | resize(32) }}"
          data-srcset="{{function('wp_get_attachment_image_srcset', post.thumbnail.id)}}"
          data-sizes="auto">
      </div>
      {% else %}
      <div class="w-full sm:w-1/2 grow aspect-square overflow-hidden">
        <div class="w-full h-full relative">
          <div class="text-titleSmallMobile lg:text-titleSmall font-bold text-[orange] absolute top-0 left-0 h-full w-full flex justify-center items-center">Please set a featured image.</div>
        </div>
      </div>
    {% endif %}
    <div class="w-full flex flex-col gap-md">
      <div class="w-full flex flex-row justify-between align-middle items-center">
        <div class="caption"><span class="font-bold">{{ post.date("d.m.Y") }}</span></div>
        <div class="caption"><span class="font-bold underline">{{ post.category }}</span></div>
      </div>
      <h2 class="titleSmallMobile lg:titleSmall md:mb-md">{{ post.title }}</h2>
      {% if post.post_excerpt %}
        <div class="hidden sm:block w-full">
          <div class="text-subtitleMobile lg:text-subtitle">{{ post.post_excerpt }}</div>
        </div>
      {% endif %}
    </div>
  </section>
  {# Right Column #}
  <section class="w-full sm:w-1/3 flex flex-col gap-md">
    {% if post.factBoxTitle %}
    <div class="facts w-full flex flex-col sm:flex-row lg:flex-col gap-lg items-center"> {# Facts Box #}
      <div class="caption w-full border border-black p-sm flex flex-col">
        <span class="pb-sm font-bold border-b">{{ post.factBoxTitle }}</span>
        <div class="factsflex flex-col">
          {% for item in post.facts %}
            <div class="py-sm flex flex-row gap-lg justify-between items-center border-b border-black">{{ item.factTextarea }}</div>
          {% endfor %}
          {% if post.download %}
            <div class="pt-sm">
              <a class="download button button--outlineBlack" href="{{ post.download.url|e }}" alt="{{ post.download.alt|e }}" target="_blank" rel="noreferrer noopener">
                {{ post.downloadLinkLabel|e }}
              </a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
    {% endif %}
    {# Authors Section #}
    <div class="authors w-full flex flex-col sm:flex-row lg:flex-col gap-lg items-center">
      <div class="w-full flex flex-col">
        <span class="text-subtitleMobile lg:text-subtitle pb-sm font-bold">{{ post.authorsBoxTitle }}</span>
        <div class="flex flex-col">
          {# Internal Author #}
          {% for item in Post(post.internalAuthorz) %}
            <div class="w-full pb-xs">
              <a href="{{ item.link }}" class="item w-full py-xs flex flex-row gap-sm border-t border-lightgrey no-underline">
                <figure class="figure w-1/3 aspect-square overflow-hidden">
                  <img
                    class="lazyload aspect-square object-cover grayscale transition duration-200 ease-linear"
                    src="{{ item.thumbnail.src | resize(32) }}"
                    data-srcset="{{function('wp_get_attachment_image_srcset', item.thumbnail.id)}}"
                    data-sizes="auto">
                </figure>
                <div class="caption w-2/3 flex flex-col justify-between">
                  <div>
                    <div class="text-bodyMobile lg:text-body font-bold">{{ item.title }}</div>
                    <div class="text-bodyMobile lg:text-body">{{ item.position }}</div>
                  </div>
                  <div class="flex justify-end items-center">
                    <div class="button button--arrow"></div>
                  </div>
                </div>
              </a>
            </div>
          {% endfor %}
          {# External Author #}
          {% for item in post.authorz %}
            <div class="w-full pb-xs">
              <a href="{{ item.authorLink }}" class="item w-full py-xs flex flex-row gap-sm border-t border-lightgrey no-underline" target="_blank" rel="noreferrer noopener">
                {% if item.authorImage %}
                <figure class="figure w-1/3 aspect-square overflow-hidden">
                  <img
                    class="lazyload aspect-square object-cover grayscale transition duration-200 ease-linear"
                    src="{{ item.authorImage.src | resize(32) }}"
                    data-srcset="{{function('wp_get_attachment_image_srcset', item.authorImage.id)}}"
                    data-sizes="auto">
                </figure>
                {% endif %}
                {% if item.authorName or item.authorPosition %}
                <div class="caption w-2/3 flex flex-col justify-between">
                  <div>
                    <div class="text-bodyMobile lg:text-body font-bold">{{ item.authorName }}</div>
                    <div class="text-bodyMobile lg:text-body">{{ item.authorPosition }}</div>
                  </div>
                  {% if item.authorLink %}
                    <div class="flex justify-end items-center">
                      <div class="button button--arrow"></div>
                    </div>
                  {% endif %}
                </div>
                {% endif %}
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
</flynt-component>
