{% set gridClasses = 'grid grid-cols-1 sm:grid-cols-2 gap-4' %}
<flynt-component
  class="flyntComponent {{ options.theme }} block"
  is="flynt-donation-form"
  name="DonationForm"
>
  <form id="fbx-donation-form" data-fbx-form-hash="{{ form_hash ? form_hash : hash | default('y3fkgajfly2vnohz') }}"
        class="donationForm" data-success-redirect-recurring="{{ thx_recurring.url }}" data-success-redirect-one-time="{{ thx_one_time.url }}">

    <div class="panel">
      {% include 'Partials/_panelHeader.twig' with { panel_title: field_label_interval_panel ? field_label_interval_panel : labelPanelInterval } only %}
      {% include 'Partials/_intervalBlock.twig' %}
      {% include 'Partials/_amountBlock.twig' %}
    </div>
    <h2>{{ amountPlaceholder }}</h2>

    {# Persönliche Daten #}
    <div class="panel">
      {% include 'Partials/_panelHeader.twig' with { panel_title: labelContactPanel } only %}
      {% include 'Partials/_contactBlock.twig' with { gridClasses } %}
      {# Adresse (versteckt, wenn weder Firma noch wants_receipt) #}
      {% include 'Partials/_addressBlock.twig' %}
      <div class="mandatoryInfo">
        * {{ mandatoryFields }}
      </div>
    </div>

    {# payment-methods #}
    <div class="panel last-child">
      {% include 'Partials/_panelHeader.twig' with { panel_title: labelPaymentMethodPanel } only %}
      <div class="payment-methods mb-6"></div>
      <div class="donation-payment-info donation-paypal-info">
        {{ paypalInfoText }}
      </div>
      <div class="donation-payment-info donation-applepay-info">
        {{ applePayInfoText }}
      </div>
      <div class="donation-payment-info donation-googlepay-info">
        {{ googlePayInfoText }}
      </div>

      {% include 'Partials/_sepaDebitFieldsBlock.twig' with { gridClasses } %}
      {% include 'Partials/_creditCardFieldsBlock.twig' with { gridClasses } %}
      {% include 'Partials/_creditCardHiddenFieldsBlock.twig' with { gridClasses } %}

      {# Submit Button #}
      <div class="mt-8 text-center">
        <button id="donation-submit-btn" type="button"
                class="button donation-submit-btn"
                data-one-time-text="{{ submitButtonTextOneTime }}"
                data-yearly-text="{{ submitButtonTextYearly }}"
                data-half-yearly-text="{{ submitButtonTextHalfYearly }}"
                data-quarterly-text="{{ submitButtonTextQuarterly }}"
                data-monthly-text="{{ submitButtonTextMonthly }}">
          <span class="label">{{ submitButtonTextDefault }}</span>
          <span class="heart" aria-hidden="true"></span>
        </button>
      </div>
      {# Global FRBox error message #}
      <div style="display: none" id="errorMsg" class="error-text text-center">Es sind leider Fehler aufgetreten! Bitte
        überprüfe deine Angaben.
      </div>

      {#  value_proposition / Wertversprechen  #}
      {% include 'Partials/_valuePropositionText.twig' %}
    </div>
    {# securityText Block #}
    {% include 'Partials/_securityText.twig' %}

    {# hidden fields e.g. amount, succesUrl, custom fields #}
    <div id="hidden-fields" class="hidden">
      {% include 'Partials/_donationCustomFields.twig' %}
      <input value="" type="hidden" name="payment[success_redirect_url]" id="payment_success_redirect_url">
      <input checked="checked" type="checkbox" id="payment_wants_newsletter" name="payment[wants_newsletter]">
    </div>
  </form>
</flynt-component>
