<flynt-component
  load:on="idle"
  name="BlockHeroContactForm"
  style="
    background-color: {% if options.colorBackground %}{{ options.colorBackground }}{% else %}var(--brandColor){% endif %};
    color: {% if options.colorText %}{{ options.colorText }}{% else %}var(--textColor){% endif %};
  "
  {{ options.navStyle ? 'data-navStyle="' ~ options.navStyle ~ '"' }}
>
  <div class="max-w-screen-max w-full mx-auto px-sm py-md md:px-md md:pb-md md:pt-0 
    {% if options.topBorder %}md:pt-md{% endif %} lg:px-lg lg:pb-lg lg:pt-0 {% if options.topBorder %}lg:pt-lg{% endif %}">
    {% if blockTitle %}
      <div class="max-w-screen-max w-full mx-auto py-sm lg:py-lg flex flex-row justify-between align-bottom items-end content-end {% if options.topBorder %}border-t{% endif %}" 
        style="border-color: {% if options.colorSecondary %}{{ options.colorSecondary }}{% else %}transparent{% endif %};">
        {% include 'Components/_Atoms/Titles/blockTitle.twig' 
          with {
            blockTitle: blockTitle
          }
        %}
      </div>
    {% endif %}
    <div class="max-w-screen-max mx-auto">
      {% set formShortcode = '[contact-form-7 id="' ~ formId ~ '"]' %}
      {{ formShortcode|shortcodes }}
    </div>
    <div class="grid xs:grid-cols-2 lg:grid-cols-3 xs:gap-md xs:flex-row justify-between gap-sm sm:gap-lg mt-md xs:mt-xl">
      {% for item in contactInfo %}
        <div class="item w-full pt-sm xs:pt-md first:border-t-0 xs:first:border-t border-t" 
          style="border-color: {% if options.colorSecondary %}{{ options.colorSecondary }}{% else %}var(--textColor){% endif %};">
          {% if item.textEditorHtml %}
            <div>{{ item.textEditorHtml|e('wp_kses_post') }}</div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</flynt-component>
