{% macro buttonCls(args = { }) %}
  {% with args %}
    button
    button--{{ color|default('brand') }}
    {% if style == 'outline' %}
      button--outlineWhite
    {% elseif style == 'outlineBlack' %}
      button--outlineBlack
    {% endif %}
  {% endwith %}
{% endmacro %}

{% macro buttonAnchor(link, args = { }) %}
  <a
    href="{{ link.url }}"
    class="{{ args.class }} {{ _self.buttonCls(args) }}"
    {{ args.dataRef ? 'data-ref="' ~ args.dataRef ~ '"'}}
  >
    {{ link.title }}
    {% if args.icon %}
      <svg width="15" height="16" viewBox="0 0 15 16" fill="none">
        <g clip-path="url(#clip0_3627_18234)">
          <path d="M1.26171 2.41309H12.9502V14.1016" stroke="currentColor" stroke-width="1.5"/>
          <line x1="13.0655" y1="2.38971" x2="0.889977" y2="14.5652" stroke="currentColor" stroke-width="1.5"/>
        </g>
        <defs>
          <clipPath id="clip0_3627_18234">
            <rect width="15" height="15" fill="#fff" transform="translate(0 0.5)"/>
          </clipPath>
        </defs>
      </svg>
    {% endif %}
  </a>
{% endmacro %}
