{% import "Components/_Containers/GridElement.twig" as ge %}
{% import "Components/_Atoms/Titles/title/macro.twig" as h %}
{% import "Components/_Atoms/Images/macro_lazyImage.twig" as mediaImage %}
{% import "Components/_Atoms/Images/macro_video.twig" as mediaVideo %}

{% set componentOptions = {
    name: 'BlockImageText',
    loadOn: 'idle',
    class: 'overflow-hidden'
} %}

{% set mediaContent %}
    {% if media.type == 'image' %}
        {{ mediaImage.lazyImage({
            image: media.image,
            class: '',
            lazyload: true
        }) }}
    {% elseif media.type == 'video' %}
        {{ mediaVideo.video({
            video: media.video,
            class: 'additional-classes'
        }) }}
    {% endif %}

    {% set caption = media.type == 'image' ? media.image.caption : media.video.posterImage.caption %}
    {% if caption %}
        <figcaption class="absolute bottom-0 left-0 right-0 p-4 text-white">
            {{ caption }}
        </figcaption>
    {% endif %}
{% endset %}

{% set textContent %}
    <div class="wysiwyg anim-move-right">
        {{ text.blockTitle ? h.h(text.blockTitle, { level: 2, class: 'font-contentTitle uppercase' }) : '' }}
        {{ text.contentHtml|e('wp_kses_post') }}
    </div>
{% endset %}

{% set content %}
    <div class="container-grid items-start py-xl">
        {{ ge.gridElement(mediaContent, {
            'cols': {
                'mobile': {'start': 1, 'end': 4},
                'tablet': {'start': 1, 'end': 8},
                'desktop': media.mediaPosition == 'right' ? {'start': 7, 'end': 12} : {'start': 1, 'end': 6},
                'wide': media.mediaPosition == 'right' ? {'start': 7, 'end': 12} : {'start': 1, 'end': 6}
            },
            'class': 'w-full max-h-[20rem] md:max-h-[30rem] relative rounded overflow-hidden md:row-start-1'
        }) }}

        {{ ge.gridElement(textContent, {
            'cols': {
                'mobile': {'start': 1, 'end': 4},
                'tablet': {'start': 1, 'end': 8},
                'desktop': media.mediaPosition == 'right' ? {'start': 1, 'end': 6} : {'start': 7, 'end': 12},
                'wide': media.mediaPosition == 'right' ? {'start': 1, 'end': 6} : {'start': 7, 'end': 12}
            },
            'class': 'md:row-start-1'
        }) }}
    </div>
{% endset %}

{% include 'Components/_Containers/FlyntComponent.twig' with {
    content: content,
    componentOptions: componentOptions
} %}