{% import "Components/_Atoms/Titles/title/macro.twig" as h %}

<flynt-component
  load:on="visible"
  name="BlockImageText"
  {{ options.theme ? 'data-theme="' ~ options.theme ~ '"' }}
  style="
    background-color: {% if options.colorBackground %}{{ options.colorBackground }}{% else %}var(--bgColor){% endif %};
    color: {% if options.colorText %}{{ options.colorText }}{% else %}var(--textColor){% endif %};
  "
  >
  <div class="container mx-auto grid items-center grid-cols-6 md:grid-cols-12 gap-x-xs gap-y-[40px] xs:gap-x-sm xs:gap-y-[60px]">
  {% if blockTitle %}
    <div class="col-span-6 md:col-span-12">
      {{ h.h(blockTitle, { level: 3, class: 'mb-0' }) }}
    </div>
  {% endif %}
  {% if media.image or media.video %}
    <div class="
        {{ mediaPositionMobile == 'bottom' ? 'order-1' }}
        {{ mediaPositionMobile == 'bottom' and mediaPosition != 'right' ? 'md:order-none' }}
        {{ mediaPositionMobile != 'bottom' and mediaPosition == 'right' ? 'md:order-1' }}
        col-start-{{ media.colMediaStart.mobile }}
        xs:col-start-{{ media.colMediaStart.tablet }}
        md:col-start-{{ media.colMediaStart.desktop }}
        xl:col-start-{{ media.colMediaStart.max }}
        col-span-{{ media.colMediaSpan.mobile }}
        xs:col-span-{{ media.colMediaSpan.tablet }}
        md:col-span-{{ media.colMediaSpan.desktop }}
        xl:col-span-{{ media.colMediaSpan.max }}"
    >
      {% if media.type == 'image' %}
        <img class="image lazyload anim-fade-in"
            src="{{ media.image.src | resize(32) }}"
            width="{{ 768 }}"
            height="{{ (768 / media.image.aspect)|round }}"
            data-srcset="{{function('wp_get_attachment_image_srcset', media.image.id)}}"
            data-sizes="auto"
            alt="{{ media.image.alt|e }}">
      {% elseif media.type == 'video' %}
        <div class="anim-fade-in aspect-square rounded-full overflow-hidden">
          <video
            class="object-cover w-full h-full"
            {{ media.video.posterImage ? 'poster="'~ media.video.posterImage.src ~'"' }}
            autoplay loop muted playsinline disablepictureinpicture
            aria-label="{{ media.video.label|e }}">
            {% for item in media.video.videoFiles %}
              <source src="{{ item.videoFile.url }}" type="{{ item.videoFile.mime_type}};codecs={{ item.codec }}">
            {% endfor %}
          </video>
        </div>
      {% endif %}
    </div>
  {% endif %}
  {% if content.contentHtml %}
    <div class="
        wysiwyg
        anim-move-up
        col-start-{{ content.colTextStart.mobile }}
        xs:col-start-{{ content.colTextStart.tablet }}
        md:col-start-{{ content.colTextStart.desktop }}
        xl:col-start-{{ content.colTextStart.max }}
        col-span-{{ content.colTextSpan.mobile }}
        xd:col-span-{{ content.colTextSpan.tablet }}
        md:col-span-{{ content.colTextSpan.desktop }}
        xl:col-span-{{ content.colTextSpan.max }}
        {{ mediaPositionMobile == 'bottom' ? 'pb-[20px]' : 'pt-[20px]' }} xs:p-0
      "
      >
      {{ content.contentHtml|e('wp_kses_post') }}
    </div>
  {% endif %}
  </div>
</flynt-component>