{% import "Components/_Containers/GridElement.twig" as ge %}

{% if media.image or media.video %}
  {% set mediaContent %}
    {% if media.type == 'image' %}
      <img
        class="image lazyload w-full h-full object-cover"
        src="{{ media.image.src | resize(32) }}"
        width="768"
        height="{{ (768 / media.image.aspect)|round }}"
        data-srcset="{{ function('wp_get_attachment_image_srcset', media.image.id) }}"
        data-sizes="auto"
        alt="{{ media.image.alt|e }}"
    >
    {% else %}
      <div class="aspect-square rounded-full overflow-hidden">
        <video class="object-cover w-full h-full"
          {{ media.video.posterImage ? 'poster="' ~ media.video.posterImage.src ~ '"' }}
          autoplay loop muted playsinline disablepictureinpicture
          aria-label="{{ media.video.label|e }}">
          {% for item in media.video.videoFiles %}
            <source src="{{ item.videoFile.url }}"
              type="{{ item.videoFile.mime_type }};codecs={{ item.codec }}">
          {% endfor %}
        </video>
      </div>
    {% endif %}
  {% endset %}

  {{ ge.gridElement(mediaContent, {
    'cols': {
      'mobile': {'start': 1, 'end': 4},
      'tablet': {'start': 1, 'end': 8},
      'desktop': mediaPosition == 'right' ? {'start': 7, 'end': 12} : {'start': 1, 'end': 6},
      'wide': mediaPosition == 'right' ? {'start': 7, 'end': 12} : {'start': 1, 'end': 6},
    },
    'class': 'w-full max-h-[20rem] md:max-h-[30rem] relative rounded-lg overflow-hidden md:row-start-1'
  }) }}
{% endif %}