{% if posts|length > 0 %}
  <flynt-component 
    load:on="load" 
    name="ListingInsights" 
    {# id="{{ blockTitle|lower|replace({' ': ''}) }}"  #}
    data-type="listing" 
    class="">
    <div class="max-w-screen-max w-full mx-auto p-sm md:p-md lg:p-lg">
      {% if blockTitle %}
        <div class="w-full mx-auto pb-sm sm:pb-lg flex flex-row justify-between items-center content-center">
          <h2 class="subtitle !leading-subtitle block-title font-bold">{{ blockTitle }}</h2>
          <a href="{{ labels.allPostsLink.url }}" class="underline hover:no-underline caption font-bold">{{ labels.allPosts }}</a>
        </div>
      {% endif %}
      <ul
        class="
          w-full
          mx-auto
          grid sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-3
          gap-0 sm:gap-md
        "
      >
        {% for post in posts %}
          <li
            class="fade-in move-up post w-full py-sm md:py-0 border-b border-lightgrey md:border-b-0">
            {% if post.externalResourceLink %}
            <a class="h-full no-underline" href="{{ post.externalResourceLink.url }}" {% if post.externalResourceLink.target %} target="{{ post.externalResourceLink.target }}" rel="noreferrer noopener"{% endif %}>
            {% else %}
            <a class="h-full no-underline" href="{{ post.link }}" aria-label="{{ post.title }}">
            {% endif %}
              <div class="h-full" aria-label="{{ post.title }}">
                {% if post.thumbnail %}
                  <figure class="figure aspect-square hidden md:block overflow-hidden">
                    <img class="hover:scale-[1.15] hover:origin-center focus:scale-[1.15] focus:origin-center lazyload object-cover w-full h-full transition duration-200 ease-linear"
                      src="{{  post.thumbnail.src | resize(32) }}"
                      data-srcset="{{function('wp_get_attachment_image_srcset', post.thumbnail.id)}}"
                      data-sizes="auto"
                      data-src="{{ post.thumbnail.src }}"
                      alt="{{ post.thumbnail.alt|e }}">
                  </figure>
                {% endif %}
                <div class="no-underline text-black md:border md:p-sm flex flex-col gap-sm justify-start md:justify-between items-start sm:items-stretch">
                  <div class="w-full flex flex-col justify-start align-start items-start gap-sm">
                    <div class="w-full flex flex-row justify-between align-middle items-center">
                      <div class="caption text-left"><span class="font-bold">{{ post.date("d.m.Y") }}</span></div>
                      <div class="caption text-right"><span class="font-bold underline">{{ post.category }}</span></div>
                    </div>
                    <h2 class="text-bodyMobile lg:text-body xl:text-subtitle mb-0 md:w-full sm:grow">{{ post.title }}</h2>
                  </div>
                  <div class="flex flex-row md:flex-col gap-sm justify-between items-between sm:items-stretch w-full">
                    <span class="flex md:hidden flex-col justify-end items-end">
                      {% if post.externalResourceLink %}
                        <div class="button button--link">{{ post.externalResourceLink.title|e }}</div>
                      {% else %}
                        <div class="button button--arrow"></div>
                      {% endif %}
                    </span>
                  </div>
                  <span class="hidden md:block">
                    {% if post.externalResourceLink %}
                      <div class="button button--link">{{ post.externalResourceLink.title|e }}</div>
                    {% else %}
                      <div class="button button--arrow"></div>
                    {% endif %}
                  </span>
                </div>
              </div>
            {% if post.externalResourceLink %}
            </a>
            {% else %}
            </a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </flynt-component>
{% endif %}
