{% if posts|length > 0 %}
  <flynt-component
    class=""
    data-type="listing"
    load:on="load"
    name="ListingInsights"
    {# id="{{ blockTitle|lower|replace({' ': ''}) }}"  #}
  >
    <div class="max-w-screen-max mx-auto p-sm md:p-md lg:p-lg w-full">
      {% if blockTitle %}
        <div class="w-full mx-auto pb-sm sm:pb-lg flex flex-row justify-between items-center content-center">
          <h2 class="block-title font-bold !leading-subtitle">{{ blockTitle }}</h2>
          <a href="{{ labels.allPostsLink.url }}" class="caption font-bold underline hover:no-underline">{{ labels.allPosts }}</a>
        </div>
      {% endif %}
      <ul class="w-full mx-auto gap-0 sm:gap-md grid sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-3">
        {% for post in posts %}
          <li class="border-b border-lightgrey fade-in move-up post py-sm md:py-0 w-full">
            {% if post.externalResourceLink %}
              <a class="h-full no-underline" href="{{ post.externalResourceLink.url }}" {% if post.externalResourceLink.target %} target="{{ post.externalResourceLink.target }}" rel="noreferrer noopener"{% endif %}>
            {% else %}
              <a class="h-full no-underline" href="{{ post.link|e('esc_url') }}" aria-label="{{ post.title }}">
            {% endif %}
              <div class="h-full" aria-label="{{ post.title }}">
                {% if post.thumbnail %}
                  <figure class="hidden md:block aspect-square figure overflow-hidden">
                    <img
                      alt="{{ post.thumbnail.alt|e }}"
                      class="hover:scale-[1.15] hover:origin-center focus:scale-[1.15] focus:origin-center lazyload transition duration-200 ease-linear object-cover w-full h-full"
                      data-src="{{ post.thumbnail.src }}"
                      data-srcset="{{function('wp_get_attachment_image_srcset', post.thumbnail.id)}}"
                      data-sizes="auto"
                      src="{{ post.thumbnail.src | resize(32) }}"
                    />
                  </figure>
                {% endif %}
                <div class="flex flex-col gap-sm items-start justify-start md:border md:p-sm no-underline text-black md:p-sm w-full">
                  <div class="flex flex-row items-center justify-between">
                    <div class="caption text-left">
                      <span class="font-bold">{{ post.date("d.m.Y") }}</span>
                    </div>
                    <div class="caption text-right">
                      <span class="font-bold underline">{{ post.category }}</span>
                    </div>
                  </div>
                  <div class="flex flex-col gap-sm justify-start items-start w-full">
                    <h2 class="lg:text-body xl:text-subtitle md:w-full mb-0 sm:grow text-bodyMobile">{{ post.title }}</h2>
                  </div>
                  <div class="flex flex-row gap-sm items-between justify-between md:flex-col sm:items-stretch w-full">
                    <span class="md:hidden flex flex-col items-end justify-end">
                      {% if post.externalResourceLink %}
                        <div class="button button--link">{{ post.externalResourceLink.title|e }}</div>
                      {% else %}
                        <div class="button button--arrow"></div>
                      {% endif %}
                    </span>
                  </div>
                  <span class="hidden md:block">
                    {% if post.externalResourceLink %}
                      <div class="button button--link">{{ post.externalResourceLink.title|e }}</div>
                    {% else %}
                      <div class="button button--arrow"></div>
                    {% endif %}
                  </span>
                </div>
              </div>
            {% if post.externalResourceLink %}
              </a>
            {% else %}
              </a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </flynt-component>
{% endif %}