{% if posts|length > 0 %}
  <flynt-component load:on="visible" name="ListingInsights" class="pb-lg lg:pb-xl">
    <div class="">
      {% if blockTitle %}
        <div class="max-w-screen-max w-full mx-auto p-sm md:p-lg flex flex-row justify-between align-bottom items-end content-end">
          <div class="h4">{{ blockTitle }}</div>
          <a href="{{ labels.allPostsLink.url }}" class="underline hover:no-underline font-bold">{{ labels.allPosts }}</a>
        </div>
      {% endif %}
      <ul
        class="
          max-w-screen-max
          mx-auto
          grid sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4
          px-sm md:px-lg
          gap-sm lg:gap-md
        "
      >
        {% for post in posts %}
          <li
            class="post w-full">
            <div class="link" aria-label="{{ post.title }}">
              {% if post.thumbnail %}
                <figure class="figure aspect-square">
                  <img class="image lazyload object-cover w-full h-full"
                    src="{{  post.thumbnail.src | resize(32) }}"
                    data-srcset="{{function('wp_get_attachment_image_srcset', post.thumbnail.id)}}"
                    data-sizes="auto"
                    data-src="{{ post.thumbnail.src }}"
                    alt="{{ post.thumbnail.alt|e }}">
                </figure>
              {% endif %}
              <div class="content aspect-square border p-sm flex flex-col gap-0 lg:gap-sm justify-between items-stretch">
                <div class="w-full flex flex-row justify-between align-middle items-center">
                  <div class="h6"><span class="font-bold">{{ post.date("d.m.Y") }}</span></div>
                  <div class="h6"><span class="font-bold underline">{{ post.category }}</span></div>
                </div>
                <div class="flex flex-row lg:flex-col gap-sm justify-between items-between lg:items-stretch h-full">
                  <h2 class="h5 w-3/4 lg:w-full grow mt-4">{{ post.title }}</h2>
                </div>
                <span class="aspect-square h-lg w-lg">
                  <a class="link button button--arrow" href="{{ post.link }}" aria-label="{{ post.title }}"></a>
                </span>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </flynt-component>
{% endif %}
