<li class="fade-in move-up post w-full">
  <a class="flex flex-col h-full no-underline group" href="{{ post.link|e('esc_url') }}" aria-label="{{ post.title }}">
    {% if post.thumbnail %}
      <figure class="figure block overflow-hidden">
        <img class="hover:scale-[1.15] hover:origin-center focus:scale-[1.15] focus:origin-center lazyload aspect-square object-cover transition duration-200 ease-linear"
          src="{{  post.thumbnail.src | resize(32) }}"
          data-srcset="{{function('wp_get_attachment_image_srcset', post.thumbnail.id)}}"
          data-sizes="auto"
          data-src="{{ post.thumbnail.src }}"
          alt="{{ post.thumbnail.alt|e }}">
      </figure>
    {% endif %}
    <div class="text-black py-md xs:py-sm flex flex-col gap-sm justify-between items-stretch grow">
      <div class="flex flex-col gap-sm">
        <div class="w-full px-sm py-sm flex flex-row justify-between align-middle items-center border caption">
          <div class="w-1/2">
            <div class="caption font-mono font-bold mb-1">{{ post.boxGenerationSize }} MWp</div>
            <div class="caption">{{ post.boxMountingType.label }}</div>
          </div>
          <div class="w-1/2 flex flex-row justify-end items-center">
            {% include 'Components/_Atoms/icon.twig' with 
              {
                width: 'w-12',
                height: 'h-12',
                color: 'text-black',
                icon: post.boxMountingType.label
              } 
            %}
            {% for term in post.terms('customer_segment')  %}
              {% include 'Components/_Atoms/icon.twig' with 
                {
                  width: 'w-12',
                  height: 'h-12',
                  color: 'text-black',
                  icon: term
                } 
              %}
            {% endfor %}
          </div>
        </div>
        <div class="w-full flex flex-col justify-between align-start items-start">
          {% for term in post.terms('country')  %}
            <div class="paragraph">{{ term }}</div>
          {% endfor %}
          <h2 class="subtitle mb-sm w-full grow">{{ post.title }}</h2>
        </div>
      </div>
      <div class="flex flex-row lg:flex-col gap-sm justify-start lg:justify-end items-start sm:items-end lg:items-start h-full">
        <div class="button button--card">{{ labels.readMore }}</div>
      </div>
    </div>
  </a>
</li>
