<flynt-component class="w-full" load:on="idle" name="SliderImages" {{ options.navStyle ? 'data-navStyle="' ~ options.navStyle ~ '"' }} style="background-color: {% if options.colorBackground %}{{ options.colorBackground }}{% else %}bg-white{% endif %};">
  <script type="application/json">{{ jsonData|json_encode }}</script>
  <div class="outer w-full max-w-screen-max mx-auto p-sm xs:p-sm md:p-md lg:p-lg">
    <div class="wrapper w-full lg:w-2/3">
      {% if blockTitle %}
	  	{% include 'Components/_Atoms/Titles/blockTitle.twig' with { 
			blockTitle: blockTitle,
			blockTitleClasses: 'text-white pb-xl z-50',
		 } %}
      {% endif %}
      <div class="swiper-container slider overflow-hidden relative" data-ref="slider">
        <div class="swiper-wrapper">
          {% for image in images %}
            <div class="swiper-slide h-0 relative pb-[66.6%]">
              <figure class="absolute inset-0 mb-0">
                <img class="figure-image lazyload w-full h-full mx-auto object-cover" src="{{ image.src | resize(32) }}" data-srcset="{{function('wp_get_attachment_image_srcset', image.id)}}" data-sizes="auto" alt="{{ image.alt|e }}">
                {% if image.caption %}
                  <figcaption class="absolute bottom-0 right-0 max-w-[450px] overflow-hidden py-1 px-2 text-white bg-[#000000b3] z-[2]">{{ image.caption|e }}</figcaption>
                {% endif %}
              </figure>
            </div>
          {% endfor %}
        </div>
        <div class="absolute !bottom-[35px] !sm:bottom-[15px] z-[2] !flex items-center justify-center swiper-pagination-fraction" data-ref="pagination" data-slider-pagination></div>
      </div>
    </div>
  </div>
</flynt-component>