{% import "Components/_Atoms/Titles/title/macro.twig" as h %}
{% import "Components/_Containers/GridElement.twig" as ge %}

{% set componentOptions = {
    name: 'BlockCarouselLogo',
    loadOn: 'idle',
    class: classes
} %}

{% set titleContent %}
  {% if general.blockTitle %}
    {{ h.h(general.blockTitle, { level: 2, class: 'font-contentTitle uppercase' }) }}
  {% endif %}
{% endset %}

{% set carouselContent %}
  <div class="swiper-container" data-ref="slider" 
    data-swiper='{{ options.carouselOptions | json_encode }}'>
    <ul class="swiper-wrapper flex">
      {% for logo in logos %}
        <li class="swiper-slide !h-auto">
          <div class="h-full w-full flex items-center justify-center anim-fade-in">
            <img
              class="lazyload w-full object-contain"
              src="{{ logo.logo.src }}"
              alt="{{ logo.logo.alt|e }}"
            >
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endset %}

{% set content %}
  <div class="container-grid    ">
    {{ ge.gridElement(titleContent, {
        'cols': {
          'mobile': { 'start': 1, 'end': 6 },
          'tablet': { 'start': 1, 'end': 2 },
          'desktop': { 'start': 1, 'end': 2 },
        }
    }) }}
    
    {{ ge.GridElement(carouselContent, {
        'cols': {
          'mobile': { 'start': 1, 'end': 6 },
          'tablet': { 'start': 3, 'end': 12 },
          'desktop': { 'start': 3, 'end': 12 },
        },
        'class': 'overflow-hidden',
    }) }}
  </div>
{% endset %}

{% include 'Components/_Containers/FlyntComponent.twig' with {
    content: content,
    componentOptions: componentOptions
} %}
