{% import "Components/_Atoms/Button/macro.twig" as btn %}

<flynt-component
  load:on="visible"
  name="BlockHeader"
  class=""
  {{ options.theme ? 'data-theme="' ~ options.theme ~ '"' }}
  {{ options.navStyle ? 'data-navStyle="' ~ options.navStyle ~ '"' }}
  style="background-color: {% if options.colorBackground %}{{ options.colorBackground }}{% else %}var(--brandColor){% endif %};"
>
<div class="container mx-auto grid grid-cols-6 md:grid-cols-12 items-center gap-y-md gap-sm md:min-h-[850px] wide:max-h-screen wide:min-h-[900px] pb-md xs:pb-0 pt-[92px]">
    <div class="col-span-{{options.textWidth.mobile}} xs:col-span-{{options.textWidth.tablet}} md:col-span-{{options.textWidth.desktop}} xxl:col-span-{{options.textWidth.wide}}">
      <div class="{# fade-in move-up #}">
        <div class="wysiwyg text-bgColor pe-[15px] xs:pe-0">
          {% if title %}
          <h1>{{ title|e('wp_kses_post') }}</h1>
          {% endif %}
          {{ contentHtml|e('wp_kses_post') }}
        </div>
        {% if link %}
          {{ btn.buttonAnchor(link, {
            class: 'mt-md',
            color: 'accent',
            icon: true,
          }) }}
        {% endif %}
      </div>
    </div>
    {% if mediaItems %}
    <div class="mediaItems col-span-6 md:col-start-6 md:col-span-7 xxl:col-start-7 xxl:col-span-6 relative h-full aspect-square md:aspect-auto">
      <svg width="0" height="0">
        <defs>
          <clipPath id="clip-1" clipPathUnits="objectBoundingBox">
            <path d="M 1 -0 L 1 0.6134 A 0.0333 0.0258 180 0 1 0 0.6134 L -0 0 Z">
          </clipPath>
          <clipPath id="clip-2" clipPathUnits="objectBoundingBox">
            <path d="M 0 1 L 0 0.3866 A 0.0333 0.0258 0 0 1 1 0.3866 L 1 1 Z">
          </clipPath>
          <clipPath id="clip-3" clipPathUnits="objectBoundingBox">
            <circle cx="0.5" cy="0.5" r="0.5" />
          </clipPath>
        </defs>
      </svg>
      {% for media in mediaItems %}
        {% set classes = '' %}
        {% if loop.index == 1 %}
          {% set classes = 'top-0 right-0 ' %}
        {% elseif loop.index == 2 %}
          {% set classes = 'w-1/4 top-0 right-1/2 mr-xs md:mr-[18px] xxl:mr-xs' %}
        {% elseif loop.index == 3 %}
          {% set classes = 'top-[34%] md:top-[35%] md:translate-x-[-6px] xxl:translate-x-0 left-0 aspect-square max-h-60%' %}
        {% endif %}
        <div class="absolute h-auto {{ classes }}" style="clip-path: url(#clip-{{ loop.index }})">
          {% if media.type == 'image' %}
            <img class="lazyload w-full object-cover aspect-[204/243]"
            src="{{ media.image.src | resize(32) }}"
            data-srcset="{{function('wp_get_attachment_image_srcset', media.image.id)}}"
            data-sizes="auto"
            alt="{{ media.image.alt|e }}"
            >
          {% elseif media.type == 'video' %}
            <video
              class="object-cover w-full h-full"
              {{ media.video.posterImage ? 'poster="'~ media.video.posterImage.src ~'"' }}
              autoplay loop muted playsinline disablepictureinpicture
              aria-label="{{ media.video.label|e }}">
              {% for item in media.video.videoFiles %}
                <source src="{{ item.videoFile.url }}" type="{{ item.videoFile.mime_type}};codecs={{ item.codec }}">
              {% endfor %}
            </video>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    {% endif %}
</div>
</flynt-component>
