{% import "Components/_Atoms/Button/macro.twig" as btn %}

<flynt-component
  load:on="visible"
  name="BlockHeader"
  class="layout-{{ options.mediaLayout}}"
  {{ options.theme ? 'data-theme="' ~ options.theme ~ '"' }}
  {{ options.navStyle ? 'data-navStyle="' ~ options.navStyle ~ '"' }}
  style="background-color: {% if options.colorBackground %}{{ options.colorBackground }}{% else %}var(--brandColor){% endif %};"
>
<div class="container mx-auto grid grid-cols-6 md:grid-cols-12 items-center gap-x-xs xs:gap-x-sm md:min-h-[850px] wide:max-h-screen wide:min-h-[900px] pb-md {{ mediaItems and options.mediaLayout == 1 ? 'xs:pb-0' }} pt-[92px]">
    <div class="
      col-span-{{options.textWidth.mobile}}
      xs:col-span-{{options.textWidth.tablet}}
      md:col-span-{{options.textWidth.desktop}}
      xxl:col-span-{{options.textWidth.wide}}
      {{ options.mediaLayout > 1 ? 'xxl:self-end xxl:pb-xxl' }}"
      >
      <div class="text-container">
        <div class="wysiwyg text-bgColor">
          {% if title %}
          <h1>{{ title|e('wp_kses_post') }}</h1>
          {% endif %}
        </div>
        <div class="wysiwyg text-bgColor {{ options.textIndent ? 'xs:ps-[90px]' : 'pe-[15px] xs:pe-0' }}">
          {{ contentHtml|e('wp_kses_post') }}
          {% if link %}
            {{ btn.buttonAnchor(link, {
              class: 'mt-md',
              color: 'accent',
              icon: true,
            }) }}
        {% endif %}
        </div>
      </div>
    </div>
    {% if mediaItems %}
    <div class="mediaItems relative wide:translate-y-[20px]
        col-start-{{ options.colMediaStart.mobile }}
        xs:col-start-{{ options.colMediaStart.tablet }}
        md:col-start-{{ options.colMediaStart.desktop }}
        xxl:col-start-{{ options.colMediaStart.wide }}
        col-span-{{ options.colMediaSpan.mobile }}
        xs:col-span-{{ options.colMediaSpan.tablet }}
        md:col-span-{{ options.colMediaSpan.desktop }}
        xxl:col-span-{{ options.colMediaSpan.wide }}
        {{ options.mediaLayout < 2 ? 'aspect-square' }}"
    >
      <svg width="0" height="0">
        <defs>
          {# Arc upside down #}
          <clipPath id="clip-arc-upsidedown" clipPathUnits="objectBoundingBox">
            <path d="M 1 -0 L 1 0.6134 A 0.0333 0.0258 180 0 1 0 0.6134 L -0 0 Z">
          </clipPath>
          {# Arc #}
          <clipPath id="clip-arc" clipPathUnits="objectBoundingBox">
            <path d="M 0 1 L 0 0.3866 A 0.0333 0.0258 0 0 1 1 0.3866 L 1 1 Z">
          </clipPath>
          {# Circle #}
          <clipPath id="clip-circle" clipPathUnits="objectBoundingBox">
            <circle cx="0.5" cy="0.5" r="0.5" />
          </clipPath>
        </defs>
      </svg>

      {# Set the shapes for respective layouts (first index is layout, second level index is loop.index) #}
      {% set clipMap = {
        1: {
          1: 'clip-arc-upsidedown',
          2: 'clip-arc',
          3: 'clip-circle'
        },
        2: {
          1: 'clip-circle',
          2: 'clip-arc',
          3: 'clip-arc'
        },
        3: {
          1: 'clip-circle',
          2: 'clip-arc',
          3: 'clip-arc'
        },
      } %}

      {# Set classes of the shapes for respective layouts (first index is layout, second level index is loop.index) #}
      {% set classMap = {
        1: {
          1: '',
          2: '',
          3: 'wind-visual',
        },
        2: {
          1: 'aspect-square top-0 right-[1.1886%] w-[37.2923%]
              xs:right-[6.4364%] xs:w-[35.2693%]
              md:right-[12.1538%] md:w-[34.1%]
              xxl:right-[5.7471%] xxl:w-[31.4943%]',
          2: 'wind-visual top-[9.5753%] left-0 w-[64.1031%] aspect-[472/558]
              xs:top-[12.4776%] xs:w-[60.6259%]
              md:top-[12.0576%] md:w-[58.6153%] md:ms-[-20px]
              xxl:top-[9.5811%] xxl:left-[10.2298%] xxl:w-[54.2528%] xxl:ms-0',
          3: 'right-0 bottom-0 aspect-[248/268] w-[33.65%]
              xs:right-[4.7136%] xs:w-[31.8246%]
              md:right-[11%] md:w-[30.923%]
              xxl:right-[4.7126%] xxl:w-[28.3908%]',
        },
        3: {
          1: 'top-[25px] w-[37.1429%] right-[1.14286%] xs:right-[6.3636%] md:right-[12.1538%] xs:w-[35.1515%] md:right-[12.1538%] md:w-[33.8462%] xxl:right-[5.7471%] xxl:w-[31.4943%] aspect-square',
          2: 'wind-visual top-[53px] left-0 w-[64%] aspect-[472/558] xs:top-[80px] xs:w-[60.6061%] md:top-[75px] md:w-[58.6153%] md:ms-[-20px] xxl:top-[105px] xxl:left-[10.2298%] xxl:w-[54.2528%] xxl:ms-0',
          3: 'right-0 bottom-0 aspect-[248/268] w-[33.4285%] xs:right-[35px] xs:w-[30.8181%] md:right-[11%] md:w-[30.923%] xxl:right-[4.7126%] xxl:w-[28.3908%]',
        },
      } %}
      {% for media in mediaItems %}
        {% set classes = classMap[options.mediaLayout][loop.index] %}
        <div class="absolute h-auto {{ classes }}">
          <div class="h-full w-full" style="clip-path: url(#{{ clipMap[options.mediaLayout][loop.index] }})">
            {% if media.type == 'image' %}
              <img class="lazyload w-full object-cover aspect-[204/243]"
              src="{{ media.image.src | resize(32) }}"
              data-srcset="{{function('wp_get_attachment_image_srcset', media.image.id)}}"
              data-sizes="auto"
              alt="{{ media.image.alt|e }}"
              >
            {% elseif media.type == 'video' %}
              <video
                class="object-cover w-full h-full"
                {{ media.video.posterImage ? 'poster="'~ media.video.posterImage.src ~'"' }}
                autoplay loop muted playsinline disablepictureinpicture
                aria-label="{{ media.video.label|e }}">
                {% for item in media.video.videoFiles %}
                  <source src="{{ item.videoFile.url }}" type="{{ item.videoFile.mime_type}};codecs={{ item.codec }}">
                {% endfor %}
              </video>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
    {% endif %}
</div>
</flynt-component>
