<div class="donationHeader__wrapper">
  <div class="donationHeader__container">
    <a class="donationHeader__logo" href="{{ site.link }}">
      {% if logo.src %}
        <img class="donationHeader__image" src="{{ logo.src }}" alt="{{ logo.alt }}">
      {% else %}
        <span class="donationHeader__siteTitle">{{ site.title }}</span>
      {% endif %}
    </a>
    <div class="donationHeader__content">
      {% if title %}
        <h2 class="donationHeader__title">{{ title }}</h2>
      {% endif %}
      {% if subtitle %}
        <p class="donationHeader__subtitle">{{ subtitle }}</p>
      {% endif %}
    </div>
    <div class="donationHeader__actions ml-auto">
      {{ renderComponent('DonationLanguageSwitch') }}
    </div>
  </div>
</div>
