<flynt-component name="NavigationMain" x-data="{ menuOpen: false }" load:on:media="(min-width: 981px)">
  <nav class="navigation hidden md:block bg-brandColor text-bgColor" aria-label="{{ labels.ariaLabel|e }}">
    <div class="container mx-auto flex items-center justify-between py-sm">
      <a class="no-underline" href="{{ site.link|e('esc_url') }}">
        <img class="h-[48px] w-[172px]" src="{{ logo.src }}" alt="{{ logo.alt }}">
      </a>
        {% if menu %}
        <ul class="flex items-center gap-[50px] font-bodySmall h-[52px]">
          {% for item in menu.items %}
          <li>
            <a class="no-underline {{ item.classes|join(' ')}}" href="{{ item.url|e }}" title="{{ item.title|e }}">{{ item.title|e }}</a>
          </li>
          {% endfor %}
        {# <div class="hidden xs:flex lg:hidden items-center">
          <div class="font-titleSmall">Menu</div>
        </div>
        <button data-ref="menuButton" class="xs:hidden" type="button" aria-expanded="false" aria-controls="navigation-menu"
          @click="menuOpen = !menuOpen">
          <span x-text="!menuOpen ? 'Menu' : 'Schließen'" class="font-titleSmall">Menu</span>
        </button> #}
      {% endif %}
    </div>
    {% if menu %}
      <div class="hidden xs:flex lg:hidden bg-bgColor p-sm items-center">
        {% for item in menu.items %}
          <a class="text-black font-menu no-underline mr-sm" href="{{ item.url|e }}" title="{{ item.title|e }}">{{ item.title|e }}</a>
        {% endfor %}
      </div>
      <div class="hidden translate-x-full !translate-x-0"></div>
      <div :class="{ '!translate-x-0': menuOpen }" class="translate-x-full h-full w-full py-md px-sm fixed flex flex-col xs:hidden bg-bgColor p-sm items-start transition">
        {% for item in menu.items %}
          <a class="text-black font-subtitle no-underline mb-sm" @click="menuOpen = false" href="{{ item.url|e }}" title="{{ item.title|e }}">{{ item.title|e }}</a>
        {% endfor %}
      </div>
    {% endif %}
  </nav>
</flynt-component>
