{% import "Components/_Atoms/Button/macro.twig" as btn %}

<flynt-component
    class="hidden md:block"
    load:on="load"
    load:on:media="(min-width: 980px)"
    name="NavigationMain"
>
  <nav data-ref="nav" class="" aria-label="{{ labels.ariaLabel|e }}" >
    <div class="container mx-auto flex items-center justify-between py-sm ">
      <a class="no-underline" href="{{ site.link|e('esc_url') }}">
        <img data-ref="logo" class="" src="{{ logo.src }}" alt="{{ logo.alt }}">
        <img data-ref="logoSecondary" class="hidden h-full" src="{{ logo_secondary.src ? logo_secondary.src : logo.src }}" alt="{{ logo_secondary.alt }}">
      </a>
      {% if menu %}
        <ul class="anim-move-down flex items-center gap-[50px] pl-[14px] py-[4px] pr-[4px] rounded-full text-textColor" x-data="{ openSubmenu: null }">
          {% for item in menu.items %}
            {% if not item.children %}
              <li>
                <a class="no-underline {{ item.current ? 'underline-offset' }} hover:underline-offset underline  !transition-none font-paragraph"
                    href="{{ item.url|e }}"
                    title="{{ item.title|e }}">
                      {{ item.title|e }}
                </a>
              </li>
            {% endif %}

            {% if item.children %}
              <li class="relative" x-data="{ id: {{ loop.index }} }" @mouseenter="openSubmenu = id" @mouseleave="openSubmenu = null">
                <button class="px-[30px] my-[6px] py-[8px] no-underlin rounded-full {{ item.current ? '!underline' }} hover:bg-[#EDEDED] !transition-none relative z-20">
                   <a class="no-underline !transition-none font-mainMenuText"
                    href="{{ item.url|e }}"
                    title="{{ item.title|e }}">
                      {{ item.title|e }}
                </a>
                </button>
                <div class="bg-transparent w-full h-[50px] top-[25px] z-10 absolute"></div>
                <ul x-show="openSubmenu === id" x-cloak class="w-[247px] absolute z-20 top-[65px] -left-[10px] bg-bgColor text-textColor p-[30px] rounded-[20px]">
                  {% for subitem in item.children %}
                    <li>
                      <a class="no-underline font-mainMenuText !transition-none hover:text-[var(--randomHoverColorSubmenu)] hover:opacity-[0.7]"
                          href="{{ subitem.url|e }}"
                          title="{{ subitem.title|e }}">
                            {{ subitem.title|e }} <br />
                            {{ subitem.description|e }}
                      </a>
                      {% if not loop.last %}
                        <div class="my-[30px] border-b border-black w-full"></div>
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              </li>
            {% endif %}
          {% endfor %}
          {% if ctaLink %}
          <li class="mr-[4px]">
            {{ btn.buttonAnchor(ctaLink, {
                class: ctaLink.url == '#' ? 'button-newsletter' : '',
                color: 'accent',
                style: post.navOnLight ? '' : 'outline',
                icon: true,
              }) }}
          </li>
          {% endif %}
        </ul>
      {% endif %}
    </div>
  </nav>
</flynt-component>
