<flynt-component
    name="NavigationMain"
    class="hidden md:block bg-brandColor text-bgColor"
    x-data="{ menuOpen: false }"
    load:on:media="(min-width: 981px)"
>
  <nav aria-label="{{ labels.ariaLabel|e }}">
    <div class="container mx-auto flex items-center justify-between py-sm xxl:pl-0 xxl:pe-xs">
      <a class="no-underline" href="{{ site.link|e('esc_url') }}">
        <img class="h-[48px] w-[172px]" src="{{ logo.src }}" alt="{{ logo.alt }}">
      </a>
        {% if menu %}
        <ul class="flex items-center gap-[50px] font-bodySmall h-[52px]">
          {% for item in menu.items %}
          <li>
            <a class="no-underline {{ item.classes|join(' ')}}" href="{{ item.url|e }}" title="{{ item.title|e }}">{{ item.title|e }}</a>
          </li>
          {% endfor %}
      {% endif %}
    </div>
  </nav>
</flynt-component>
