<flynt-component load:on="visible" name="BlockProjectBox" class="">
  {# Map #}
  <div class="relative md:w-full mb-md">
    <div data-ref="mapWrapper" class="h-auto aspect-video relative" id="dottedMap"></div>
    <div class="pin bg-cbegreen w-[25px] h-[25px] -translate-x-[12.5px] -translate-y-[12.5px] rounded-full absolute before:rounded-full before:content-none before:absolute"
      data-ref="pin"
      data-latitude="{{ post.coordinates.lat }}"
      data-longitude="{{ post.coordinates.lng }}"></div>
  </div>
  {# Box #}
  <div class="w-full md:w-full flex flex-col md:flex-row lg:flex-col gap-lg items-center">
    <div class="w-full border border-black p-sm flex flex-col">
      {% if post.coordinates.city or post.coordinates.country %}
      <div class="py-sm first:pt-0 flex flex-row gap-lg justify-between items-center border-b border-black">
        <span class="text-captionMobile lg:text-caption">{{ labels.boxLocation }}</span>
        <a href="{{ post.boxLocation }}" class="text-right button button--link text-bodyMobile lg:text-body underline decoration-black hover:decoration-green underline-offset-[6px]" target="_blank" rel="noreferrer noopener">
          {{ post.coordinates.city }},
          {{ post.coordinates.country }}
        </a>
      </div>
      {% endif %}
      {% if post.boxGenerationSize %}
      <div class="py-sm first:pt-0 flex flex-row gap-lg justify-between items-center border-b border-black">
        <span class="text-captionMobile lg:text-caption">{{ labels.boxGenerationSize }}</span>
        <span class="text-bodyMobile lg:text-body text-right">{{ post.boxGenerationSize }} kWp</span>
      </div>
      {% endif %}
      {% for term in post.terms('customer_segment')  %}
      <div class="py-sm first:pt-0 flex flex-row gap-lg justify-between items-center border-b border-black">
        <span class="text-captionMobile lg:text-caption">{{ labels.boxCustomerSegment }}</span>
        <span class="text-bodyMobile lg:text-body text-right">
          <div class="text-right flex flex-row items-center gap-[10px]">
            {% include 'Components/_Atoms/Images/icon.twig' with 
              {
                iconClasses: 'w-10 h-10',
                icon: term
              } 
            %}
            <span class="text-bodyMobile lg:text-body scale-100">{{ term }}</span>
          </div>
        </span>
      </div>
      {% endfor %}
      {% if post.boxMountingType %}
      <div class="py-sm first:pt-0 flex flex-row gap-lg justify-between items-center border-b border-black">
        <span class="text-captionMobile lg:text-caption">{{ labels.boxMountingType }}</span>
        <div class="text-right flex flex-row items-center gap-[10px]">
          {% include 'Components/_Atoms/Images/icon.twig' with 
            {
              iconClasses: 'w-10 h-10',
              icon: post.boxMountingType.label,
            } 
          %}
          <span class="text-bodyMobile lg:text-body scale-100">{{ post.boxMountingType.label }}</span>
        </div>
      </div>
      {% endif %}
      {% if post.boxStorageSize %}
      <div class="py-sm first:pt-0 last:pb-0 flex flex-row gap-lg justify-between items-center border-b border-black last:border-b-0">
        <span class="text-captionMobile lg:text-caption">{{ labels.boxStorageSize }}</span>
        <span class="text-bodyMobile lg:text-body text-right">{{ post.boxStorageSize }} kWh</span>
      </div>
      {% endif %}
      {% if post.boxPanelCount %}
      <div class="py-sm first:pt-0 last:pb-0 flex flex-row gap-lg justify-between items-center border-b border-black last:border-b-0">
        <span class="text-captionMobile lg:text-caption">{{ labels.boxPanelCount }}</span>
        <span class="text-bodyMobile lg:text-body text-right">{{ post.boxPanelCount }}</span>
      </div>
      {% endif %}
      {% if post.boxCommissionDate %}
      <div class="py-sm last:pb-0 flex flex-row gap-lg justify-between items-center border-b border-black last:border-b-0">
        <span class="text-captionMobile lg:text-caption">{{ labels.boxCommissionDate }}</span>
        <span class="text-bodyMobile lg:text-body text-right">{{ post.boxCommissionDate }}</span>
      </div>
      {% endif %}
      {% if post.boxPartners %}
      <div class="py-sm first:pt-0 last:pb-0 flex flex-row gap-lg justify-between items-center border-b border-black last:border-b-0">
        <span class="text-captionMobile lg:text-caption">{{ labels.boxPartners }}</span>
        <span class="text-bodyMobile lg:text-body text-right">{{ post.boxPartners }}</span>
      </div>
      {% endif %}
      {% if post.boxReEnContr %}
      <div class="py-sm last:pb-0 flex flex-row gap-lg justify-between items-center border-b border-black last:border-b-0">
        <span class="text-captionMobile lg:text-caption">{{ labels.boxReEnContr }}</span>
        <span class="text-bodyMobile lg:text-body text-right">{{ post.boxReEnContr }}</span>
      </div>
      {% endif %}
    </div>
  </div>
</flynt-component>
