{% if posts|length > 0 %}
  <flynt-component load:on="visible" name="ArchiveInsights" data-type="listing" class="" {{ options.navStyle ? 'data-navStyle="' ~ options.navStyle ~ '"' }}>
    <div class="max-w-screen-max w-full mx-auto p-sm lg:p-lg">
      {% if blockTitle %}
        <div class="w-full mx-auto pb-sm md:pb-lg flex flex-row justify-between align-bottom items-end content-end">
          <div class="subtitle">{{ blockTitle }}</div>
          <a href="{{ labels.allPostsLink.url }}" class="underline hover:no-underline font-bold">{{ labels.allPosts }}</a>
        </div>
      {% endif %}
      <ul
        class="
          w-full
          mx-auto
          grid sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4
          gap-sm lg:gap-md
          {% if options.firstItemLarger %} firstItemLarger {% endif %}
        "
      >
        {% for post in posts %}
          <li
            class="post w-full py-sm lg:py-0 border-b border-lightgrey lg:border-b-0">
            <div class="link h-full" aria-label="{{ post.title }}">
              <div class="w-full flex lg:hidden flex-row justify-between align-middle items-center">
                <div class="caption text-left"><span class="font-bold">{{ post.date("d.m.Y") }}</span></div>
                <div class="caption text-right"><span class="font-bold underline">{{ post.category }}</span></div>
              </div>
              {% if post.thumbnail %}
                {% if post.externalResourceLink %}
                <a class="no-unerline" href="{{ post.externalResourceLink.url }}" {% if post.externalResourceLink.target %} target="{{ post.externalResourceLink.target }}" rel="noreferrer noopener"{% endif %}>
                {% else %}
                <a class="no-unerline" href="{{ post.link }}" aria-label="{{ post.title }}">
                {% endif %}
                  <figure class="figure block py-sm lg:py-0 overflow-hidden">
                    <img 
                      class="
                      image lazyload 
                      object-cover w-full h-full
                      aspect-square
                      transition duration-200 ease-linear"
                      src="{{  post.thumbnail.src | resize(32) }}"
                      data-srcset="{{function('wp_get_attachment_image_srcset', post.thumbnail.id)}}"
                      data-sizes="auto"
                      data-src="{{ post.thumbnail.src }}"
                      alt="{{ post.thumbnail.alt|e }}">
                  </figure>
                {% if post.externalResourceLink %}
                </a>
                {% else %}
                </a>
                {% endif %}
              {% endif %}
              <div class="content lg:aspect-square lg:border lg:p-sm flex flex-col gap-sm justify-start lg:justify-between items-start md:items-stretch">
                <div class="w-full hidden lg:flex flex-row justify-between align-middle items-center">
                  <div class="caption text-left"><span class="font-bold">{{ post.date("d.m.Y") }}</span></div>
                  <div class="caption text-right"><span class="font-bold underline">{{ post.category }}</span></div>
                </div>
                <div class="flex flex-col gap-sm justify-between items-between md:items-stretch w-full md:h-full">
                  <h2 class="text-bodyMobile mb-0 lg:w-full md:grow">{{ post.title }}</h2>
                  <span class="flex lg:hidden flex-col justify-start items-start">
                    {% if post.externalResourceLink %}
                      <a class="button button--link" href="{{ post.externalResourceLink.url }}" {% if post.externalResourceLink.target %} target="{{ post.externalResourceLink.target }}" rel="noreferrer noopener"{% endif %}>{{ post.externalResourceLink.title|e }}</a>
                    {% else %}
                      <a class="button button--arrow" href="{{ post.link }}" aria-label="{{ post.title }}"></a>
                    {% endif %}
                  </span>
                </div>
                <span class="hidden lg:block">
                  {% if post.externalResourceLink %}
                    <a class="button button--link" href="{{ post.externalResourceLink.url }}" {% if post.externalResourceLink.target %} target="{{ post.externalResourceLink.target }}" rel="noreferrer noopener"{% endif %}>{{ post.externalResourceLink.title|e }}</a>
                  {% else %}
                    <a class="button button--arrow" href="{{ post.link }}" aria-label="{{ post.title }}"></a>
                  {% endif %}
                </span>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </flynt-component>
{% endif %}
